{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket">
            <h2>کاربران</h2>
                <div class="col col-md-12" id="ticket-info">
                    <form action="/users/" name="user-form" method="post" onsubmit="return validateForm();">{% csrf_token %}
                        <table>
                            <tr>
                                <th>کاربر عادی</th>
                                <th>کاربر ویژه</th>
                                <th>نام کاربری</th>
                                <th>نام</th>
                                <th>نام خانوادگی</th>
                                <th>وضعیت</th>
                                <th>تاریخ ثبت نام</th>
                            </tr>
                            {% for user in users %}
                                {% if request.user.is_superuser %}
                                    <tr>
                                       <td style="text-align: center"><input type="checkbox" name="users[]" value="{{user.id}}"></td>
                                       <td style="text-align: center"><input type="checkbox" name="superusers[]" value="{{ user.id }}"></td>
                                       <td class="user-info"> {{ user.username }}</td>
                                       <td class="user-info"> {{ user.first_name }}</td>
                                       <td class="user-info"> {{ user.last_name }}</td>
                                        {% if user.is_organizer == True %}
                                            <td>کاربر ویژه</td>
                                        {% else %}
                                            <td>کاربر عادی</td>
                                        {% endif %}
                                    <td class="user-info">
{#                                        <div class="date">{% with user.date_joined as date %}#}
{#                                            {% include 'persian-date.html' %}{% endwith %}#}
{#                                        </div>#}
                                        {{ user.date_joined }}
                                    </td>
                                    </tr>
                                {% endif %}
    {#                            <div class="my-divider"></div>#}
                            {% endfor %}
                        </table>
                    <br/>
                    <button type="submit" name="submit" >ثبت تغییرات</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/sport-event.js" %}"></script>
    <script src="{% static "js/users.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
    <link rel="stylesheet" href="{% static "css/user.css" %}"/>
{% endblock %}