{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div id="body-container" class="col col-md-12">
            <div class="col col-md-12">
                <div class="col col-md-2">
                    <br/>
                    <a class="btn btn-primary btn-lg btn-block" href="/ticket/2/">
                        <i class="fa fa-ticket"></i> بلیط‌های من
                    </a><a class="btn btn-primary btn-lg btn-block" href="charge">
                    <i class="fa fa-dollar"></i> شارژ موجودی
                </a></div>
                <div class="col col-md-8">

                    <h1 class="">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                    {% if request.user.is_organizer %}
                        <p class="person-title">برگزارکننده</p>
                    {% else %}
                        <p class="person-title">عضو معمولی</p>
                    {% endif %}
                </div>
                <div class="col col-md-2">
                    <img class="center-block img-circle ticket-box" src="/static/img/default_profile_large.jpg">
                </div>


            </div>

            <div class="col col-md-12 ticket-box">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab"
                                                              data-toggle="tab">اطلاعات حساب کاربری</a></li>
                    <li role="presentation"><a href="#details" aria-controls="home" role="tab" data-toggle="tab">ویرایش
                        مشخصات</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">ویرایش
                        اطلاعات حساب کاربری</a></li>
                </ul>
                <br/>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="profile">
                        <div class="col col-md-12">
                            <dl class="dl-horizontal">
                                <dt>تعداد دفعات خرید</dt>
                                <dd>۴</dd>
                                <dt>میزان موجودی</dt>
                                <dd>
                                    {{ request.user.balance }} تومان
                                </dd>
                                <dt>تاریخ عضویت</dt>
                                <dd>۱۳۹۴/۱۱/۱۳</dd>
                                <dt>جنسیت</dt>
                                {% if request.user.gender %}
                                    <dd>مرد</dd>
                                {% else %}
                                    <dd>زن</dd>
                                {% endif %}
                                <dt>شماره تلفن</dt>
                                <dd>{{ request.user.phone }}</dd>
                            </dl>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="details">
                        <div class="col col-md-12">
                            <h3>ویرایش مشخصات</h3>

                            <form class="cd-form">

                                <p class="fieldset">
                                    <label for="signin-email" class="image-replace cd-username">نام</label>
                                    <input type="email" placeholder="نام" id="signin-email"
                                           class="full-width has-padding has-border disabled">
                                </p>

                                <p class="fieldset">
                                    <label for="signin-email" class="image-replace cd-username">نام خانوادگی</label>
                                    <input type="email" placeholder="نام خانوادگی" id="signin-email"
                                           class="full-width has-padding has-border disabled">
                                </p>

                                <p class="fieldset">
                                    <label for="signin-email" class="image-replace cd-username">شماره تلفن</label>
                                    <input type="email" placeholder="شماره تلفن" id="signin-email"
                                           class="full-width has-padding has-border disabled">
                                </p>
                                <a class="btn btn-primary btn-lg btn-block" href="/profile/1/">
                                    <i class="fa fa-save"></i> ذخیره
                                </a>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <div class="col col-md-12">
                            <h3>ویرایش اطلاعات حساب کاربری</h3>

                            <form class="cd-form">
                                <p class="fieldset">
                                    <label for="signin-email" class="image-replace cd-username">ایمیل</label>
                                    <input type="email" placeholder="ایمیل" id="signin-email"
                                           class="full-width has-padding has-border disabled">
                                </p>

                                <p class="fieldset">
                                    <label for="signin-password" class="image-replace cd-password">رمز عبور جدید</label>
                                    <input type="text" placeholder="رمز عبور جدید" id="signin-password"
                                           class="full-width has-padding has-border">
                                </p>

                                <p class="fieldset">
                                    <label for="signin-password" class="image-replace cd-password">تکرار رمز عبور
                                        جدید</label>
                                    <input type="text" placeholder="تکرار رمز عبور جدید" id="signin-password"
                                           class="full-width has-padding has-border">

                                </p>

                                <p class="fieldset">
                                    <a class="btn btn-primary btn-lg btn-block" href="/profile/1/">
                                        <i class="fa fa-save"></i> ذخیره
                                    </a>
                                </p>

                                <p class="fieldset">
                                    <a class="btn btn-danger btn-lg btn-block" href="/">
                                        <i class="fa fa-remove"></i> حذف حساب کاربری
                                    </a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <script>

        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')

            $('#myTabs a[href="#profile"]').tab('show')
        })

    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/about.css" %}"/>
    <link rel="stylesheet" href="{% static "css/ticket.css" %}"/>
{% endblock %}