{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div id="body-container" class="col col-md-12">
            <div class="col col-md-12">
                <div class="col col-md-2">
                    <br/>
                    <a class="btn btn-primary btn-lg btn-block" href="/ticket/2/">
                        <i class="fa fa-ticket"></i> بلیط‌های من
                    </a><a class="btn btn-primary btn-lg btn-block" href="charge">
                    <i class="fa fa-dollar"></i> شارژ موجودی
                </a></div>
                <div class="col col-md-8">

                    <h1 class="">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                    {% if request.user.is_organizer %}
                        <p class="person-title">برگزارکننده</p>
                    {% else %}
                        <p class="person-title">عضو معمولی</p>
                    {% endif %}
                </div>
                <div class="col col-md-2">
                    <img class="center-block img-circle ticket-box" src="/static/img/default_profile_large.jpg">
                </div>


            </div>

            <div class="col col-md-12 ticket-box">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab"
                                                              data-toggle="tab">اطلاعات حساب کاربری</a></li>
                    <li role="presentation"><a href="#details" aria-controls="home" role="tab" data-toggle="tab">ویرایش
                        مشخصات</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">ویرایش
                        اطلاعات حساب کاربری</a></li>
                </ul>
                <br/>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="profile">
                        <div class="col col-md-12">
                            <dl class="dl-horizontal">
                                <dt>تعداد دفعات خرید</dt>
                                <dd>۴</dd>
                                <dt>میزان موجودی</dt>
                                <dd>
                                    {{ request.user.balance }} تومان
                                </dd>
                                <dt>تاریخ عضویت</dt>
                                <dd>۱۳۹۴/۱۱/۱۳</dd>
                                <dt>جنسیت</dt>
                                {% if request.user.gender %}
                                    <dd>مرد</dd>
                                {% else %}
                                    <dd>زن</dd>
                                {% endif %}
                                <dt>شماره تلفن</dt>
                                <dd>{{ request.user.phone }}</dd>
                            </dl>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="details">
                        <div class="col col-md-12">

                            <h3>ویرایش مشخصات</h3>

                            <form class="cd-form">

                                <p class="fieldset">
                                    <i class="fa fa-user"></i>
                                    <input class="full-width has-padding has-border" id="edit-first-name"
                                           name="edit-first-name"
                                           type="text"
                                           placeholder="نام">
                                    <span class="cd-error-message">نام نامعتبر</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-user"></i>
                                    <input class="full-width has-padding has-border" id="edit-last-name"
                                           name="edit-last-name"
                                           type="text"
                                           placeholder="نام خانوادگی">
                                    <span class="cd-error-message">نام خانوادگی نامعتبر</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-calendar"></i>
                                    <input class="full-width has-padding has-border" id="edit-birthday"
                                           name="edit-birthday"
                                           type="text"
                                           placeholder="تاریخ تولد">
                                    <span class="cd-error-message">تاریخ تولد نامعتبر</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-transgender"></i>
                                    <input class="full-width has-padding has-border" id="edit-gender"
                                           name="edit-gender"
                                           type="text"
                                           placeholder="جنسیت">
                                    <span class="cd-error-message">جنسیت نامعتبر</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-phone"></i>
                                    <input class="full-width has-padding has-border" id="edit-phone"
                                           name="edit-phone"
                                           type="text"
                                           placeholder="شماره تماس">
                                    <span class="cd-error-message">شماره تماس نامعتبر</span>
                                </p>
                                <a class="btn btn-primary btn-lg btn-block" href="/profile/1/">
                                    <i class="fa fa-save"></i> ذخیره
                                </a>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <div class="col col-md-12">
                            <h3>ویرایش اطلاعات حساب کاربری</h3>

                            <form class="cd-form">
                                <p class="fieldset">
                                    <i class="fa fa-user"></i>
                                    <input class="full-width has-padding has-border" id="edit-username"
                                           name="edit-username"
                                           type="text"
                                           placeholder="نام کاربری">
                                    <span class="cd-error-message">نام کاربری نامعتبر</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-envelope"></i>
                                    <input class="full-width has-padding has-border" id="edit-email" name="edit-email"
                                           type="email"
                                           placeholder="پست الکترونیکی">
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-key"></i>
                                    <input class="full-width has-padding has-border" id="edit-password"
                                           name="edit-password"
                                           type="password"
                                           placeholder="رمز عبور قبلی">
                                    <span class="cd-error-message">رمز عبور قبلی نامعتبر است</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-key"></i>
                                    <input class="full-width has-padding has-border" id="edit-new-password"
                                           name="edit-new-password"
                                           type="password"
                                           placeholder="رمز عبور جدید">
                                    <span class="cd-error-message">رمز عبور جدید قابل قبول نیست</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-key"></i>
                                    <input class="full-width has-padding has-border" id="edit-new-password-repeat"
                                           name="edit-new-password-repeat"
                                           type="password"
                                           placeholder="تکرار رمز عبور جدید">
                                    <span class="cd-error-message">تکرار رمز عبور جدید یکسان نیست</span>
                                </p>

                                <p class="fieldset">
                                    <a class="btn btn-primary btn-lg btn-block" href="/profile/1/">
                                        <i class="fa fa-save"></i> ذخیره
                                    </a>
                                </p>

                                <p class="fieldset">
                                    <a class="btn btn-danger btn-lg btn-block" href="/">
                                        <i class="fa fa-remove"></i> حذف حساب کاربری
                                    </a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <script>

        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')

            $('#myTabs a[href="#profile"]').tab('show')
        })

    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/about.css" %}"/>
    <link rel="stylesheet" href="{% static "css/ticket.css" %}"/>
{% endblock %}