{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div id="body-container" class="col col-md-12">
            <div class="col col-md-12">
                <div class="col col-md-2">
                    <br/>
                    <a class="btn btn-primary btn-lg btn-block" href="/ticket/2/">
                        <i class="fa fa-ticket"></i> بلیط‌های من
                    </a><a class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                           data-target="#charge-modal">
                    <i class="fa fa-money"></i> شارژ موجودی
                </a>

                    <!-- Account Charge Modal -->
                    <div class="modal fade" id="charge-modal" tabindex="-1"
                         role="dialog"
                            >
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="user-account-charge-lable">شارژ حساب کاربری</h4>
                                </div>
                                <div class="modal-body">
                                    موجودی حساب کاربری شما {{ request.user.balance }} تومان است. جهت شارژ حساب کاربری مبلغ مورد نظر را وارد نمایید.
                                </div>
                                 <form class="cd-form" action="/charge/" method="POST" id="charge-account-form">{% csrf_token %}
                                <p class="fieldset">
                                    <input class="full-width has-padding has-border" id="price"
                                           name="price"
                                           type="text"
                                           placeholder="مبلغ به تومان">
                                </p>
                                     </form>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">انصراف
                                    </button>
                                    <button type="submit" class="btn btn-success"
                                            form="charge-account-form">پرداخت
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>


                </div>
                <div class="col col-md-8">

                    <h1 class="">{{ request.user.first_name }} {{ request.user.last_name }}</h1>
                    {% if request.user.is_organizer %}
                        <p class="person-title">برگزارکننده</p>
                    {% else %}
                        <p class="person-title">عضو معمولی</p>
                    {% endif %}
                </div>
                <div class="col col-md-2">
                    <img class="center-block img-circle ticket-box" src="/static/img/default_profile_large.jpg">
                </div>


            </div>

            <div class="col col-md-12 ticket-box">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab"
                                                              data-toggle="tab">اطلاعات حساب کاربری</a></li>
                    <li role="presentation"><a href="#details" aria-controls="home" role="tab" data-toggle="tab">ویرایش
                        مشخصات</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">ویرایش
                        اطلاعات حساب کاربری</a></li>
                </ul>
                <br/>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="profile">
                        <div class="col col-md-12">
                            <dl class="dl-horizontal">
                                <dt>تعداد دفعات خرید</dt>
                                <dd>{{ ticketCount }}</dd>
                                <dt>میزان موجودی</dt>
                                <dd>
                                    {{ request.user.balance }} تومان
                                </dd>
                                <dt>تاریخ عضویت</dt>
                                <dd>{{ request.user.date_joined }}</dd>
                                <dt>جنسیت</dt>
                                {% if request.user.gender %}
                                    <dd>مرد</dd>
                                {% else %}
                                    <dd>زن</dd>
                                {% endif %}
                                <dt>شماره تلفن</dt>
                                <dd>{{ request.user.phone }}</dd>
                            </dl>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="details">
                        <div class="col col-md-12">

                            <h3>ویرایش مشخصات</h3>
                            <form class="cd-form" action="." method="POST" id="edit-details-form">{% csrf_token %}
                            <input type="hidden" id="type" name="type" value="edit-details-form"/>
                                <p class="fieldset">
                                    <i class="fa fa-user"></i>
                                    <input class="full-width has-padding has-border" id="edit-first-name"
                                           name="edit-first-name"
                                           type="text"
                                           value={{ request.user.first_name }}>
                                    <span class="cd-error-message">نام نامعتبر</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-user"></i>
                                    <input class="full-width has-padding has-border" id="edit-last-name"
                                           name="edit-last-name"
                                           type="text"
                                           value={{ request.user.last_name }}>
                                    <span class="cd-error-message">نام خانوادگی نامعتبر</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-calendar"></i>
                                    <input class="full-width has-padding has-border" id="edit-birthday"
                                           name="edit-birthday"
                                           type="text"
                                           value={{ request.user.birth_date }}>
                                    <span class="cd-error-message">تاریخ تولد نامعتبر</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-transgender"></i>
                                    <input class="full-width has-padding has-border" id="edit-gender"
                                           name="edit-gender"
                                           type="text"
                                           {% if request.user.gender == False %}
                                           value="زن">
                                            {% endif %}
                                {% if request.user.gender == True %}
                                           value="مرد">
                                            {% endif %}
                                    <span class="cd-error-message">جنسیت نامعتبر</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-phone"></i>
                                    <input class="full-width has-padding has-border" id="edit-phone"
                                           name="edit-phone"
                                           type="text"
                                           value={{ request.user.phone }}>
                                    <span class="cd-error-message">شماره تماس نامعتبر</span>
                                </p>
                            </form>
                            <button type="submit" class="btn btn-primary btn-lg btn-block"
                                            form="edit-details-form"><i class="fa fa-save"></i> ذخیره
                                    </button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <div class="col col-md-12">
                            <h3>ویرایش اطلاعات حساب کاربری</h3>
                            <form class="cd-form" action="." method="POST" id="edit-account-form">{% csrf_token %}
                                <input type="hidden" id="type" name="type" value="edit-account-form"/>
                                <p class="fieldset">
                                    <i class="fa fa-user"></i>
                                    <input class="full-width has-padding has-border" id="edit-username"
                                           name="edit-username"
                                           type="text"
                                           value={{ request.user.username }}>
                                    <span class="cd-error-message">نام کاربری نامعتبر</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-envelope"></i>
                                    <input class="full-width has-padding has-border" id="edit-email" name="edit-email"
                                           type="email"
                                           value={{ request.user.email }}>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-key"></i>
                                    <input class="full-width has-padding has-border" id="edit-password"
                                           name="edit-password"
                                           type="password"
                                           placeholder="رمز عبور قبلی">
                                    <span class="cd-error-message">رمز عبور قبلی نامعتبر است</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-key"></i>
                                    <input class="full-width has-padding has-border" id="edit-new-password"
                                           name="edit-new-password"
                                           type="password"
                                           placeholder="رمز عبور جدید">
                                    <span class="cd-error-message">رمز عبور جدید قابل قبول نیست</span>
                                </p>

                                <p class="fieldset">
                                    <i class="fa fa-key"></i>
                                    <input class="full-width has-padding has-border" id="edit-new-password-repeat"
                                           name="edit-new-password-repeat"
                                           type="password"
                                           placeholder="تکرار رمز عبور جدید">
                                    <span class="cd-error-message">تکرار رمز عبور جدید یکسان نیست</span>
                                </p>




                            </form>

                            <form class="cd-form" action="." method="POST" id="delete-account-form">{% csrf_token %}
                                <input type="hidden" id="type" name="type" value="delete-account-form"/>
                            </form>

                            <p class="fieldset">
                                                        <button type="submit" class="btn btn-primary btn-lg btn-block"
                                            form="edit-account-form"><i class="fa fa-save"></i> ذخیره
                                    </button>


                                <button type="submit" class="btn btn-danger btn-lg btn-block"
                                            form="delete-account-form"><i class="fa fa-remove"></i> حذف حساب کاربری
                                </button>
                            </p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

{% endblock %}

{% block render_blocking_js %}
            <script>

        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');

            $('#myTabs a[href="#profile"]').tab('show')
        })

        </script>
{% endblock %}



{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/about.css" %}"/>
    <link rel="stylesheet" href="{% static "css/ticket.css" %}"/>
{% endblock %}