<div style="text-align: right; direction: rtl;">
    <p>
        {{ user.first_name }} {{ user.last_name }} عزیز، سلام
    </p>
    <br/>
    <p>درخواست تغییر رمز عبور ایمیل شما در سامانه بلیط یاب ثبت شده است. </p>
    <br/>
    <p>اگر شما این درخواست را داده اید، برای تغییر رمز عبور بر روی لینک زیر کلیک کنید، در غیر این صورت این ایمیل را نادیده بگیرید.</p>
    <br/>
    <p style="direction: ltr; text-align: left"><a href="http://127.0.0.1:8000/recover/{{ random_num }}/">http://127.0.0.1:8000/recover/{{ random_num }}/</a></p>
    <br/>
    <p>این لینک تنها تا ۲۴ ساعت آینده فعال خواهد بود.</p>
</div>