<div class="seat-row 1">1</div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat disabled-seat"></div>
<div class="seat disabled-seat"></div>
<div class="seat disabled-seat"></div>
<div class="clear"></div>
<div class="seat-row 2">2</div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="seat no-internet-sale"></div>
<div class="clear"></div>
<div class="seat-row 3">3</div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="clear"></div>
<div class="seat-row 4">4</div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="clear"></div>
<div class="seat-row 5">5</div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="clear"></div>
<div class="seat-row 6">6</div>
<div class="seat disabled-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="clear"></div>
<div class="seat-row 7">7</div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat disabled-seat"></div>
<div class="clear"></div>
<div class="seat-row 8">8</div>
<div class="seat disabled-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="clear"></div>
<div class="seat-row 9">9</div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat disabled-seat"></div>
<div class="clear"></div>
<div class="seat-row 10">10</div>
<div class="seat disabled-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="clear"></div>
<div class="seat-row 11">11</div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat disabled-seat"></div>
<div class="clear"></div>
<div class="seat-row 12">12</div>
<div class="seat disabled-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="clear"></div>
<div class="seat-row 13">13</div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat disabled-seat"></div>
<div class="clear"></div>
<div class="seat-row 14">14</div>
<div class="seat disabled-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="seat free-seat"></div>
<div class="btn btn-primary">پرده نمایش</div>
{% if user.is_authenticated %}
    <form action="/buy/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="price" value=""/>
        <input type="hidden" name="show_time_id" value=""/>
        <input type="hidden" name="quantity" value=""/>
        <input type="hidden" name="seats" value=""/>
        <button style="background-color: #2e6da4; width: 15%" type="submit" class="btn btn-primary add-to-cart">
            <i class="fa fa-shopping-cart"></i>
            پرداخت اینترنتی
        </button>
    </form>
{% endif %}