{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder" id="top" user-id="{{ request.user.id }}">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket">
                <div class="col col-md-12" id="ticket-info">
                    <h1>بلیط‌های من</h1>
                </div>
            <div class="col col-md-9" style="float: none; margin-right: auto; margin-left: auto;">
                <div class="col col-md-5" style="float: right">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon3" style="border: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        border-left: 0;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        font-family: 'BYekan', sans-serif;">تاریخ شروع</span>
                      <input id="start-date" value="{{ start_date_year}}-{% if start_date_month < 10 %}0{% endif %}{{start_date_month}}-{% if start_date_day < 10 %}0{% endif %}{{ start_date_day }}" type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="border-bottom-right-radius: 0;
                        border-bottom-left-radius: 4px;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 0;
                        font-family: 'BYekan', sans-serif;
                        text-align: right;">
                </div>
                </div>
                <div class="col col-md-5" style="float: right;">
                    <div class="input-group">
                      <span class="input-group-addon" id="basic-addon3" style="border: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        border-left: 0;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        font-family: 'BYekan', sans-serif;">تاریخ پایان</span>
                      <input id="end-date" value="{{ end_date_year }}-{% if end_date_month < 10 %}0{% endif %}{{ end_date_month }}-{% if end_date_day < 10 %}0{% endif %}{{ end_date_day }}" type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="border-bottom-right-radius: 0;
                        border-bottom-left-radius: 4px;
                        border-top-left-radius: 4px;
                        border-top-right-radius: 0;
                        font-family: 'BYekan', sans-serif;
                        text-align: right;">
                </div>
                </div>
                <div class="col col-md-2">
                      <button id="filter" style="font-family: 'BYekan', sans-serif; width: 100%; position: relative; top: -2px;" type="button" class="btn btn-primary">فیلتر کردن</button>
                </div>
            </div>

                <div class="col col-md-12" id="ticket-info">
                    {% for ticket,event,category in tickets %}
                        <div class="col col-md-2">
                            <a class="btn btn-primary btn-lg btn-block"
                               href="/ticket/{{ request.user.id }}/{{ ticket.id }}">
                                <i class="fa fa-ticket"></i> اطلاعات بلیط
                            </a>
                        </div>
                        <div class="event-image">
                            <i class="fa fa-ticket fa-3x"></i>
                        </div>
                        <a href="/ticket/{{ request.user.id }}/{{ ticket.id }}" class="event-info">
                      {{ category }}   {{ event.title }}
                            ( تعداد: {{ ticket.quantity }})
                        </a>
                        <div class="event-info">
                            شماره بلیط: {{ ticket.id }}
                        </div>

                        <div class="my-divider"></div>
                    {% endfor %}

                <div class="col col-md-12" id="paginate" style="text-align: center">
                    <ul class="pagination" style="margin: 6px 0 -10px 0; font-family: 'BYekan', sans-serif;">
                        {% for i in num_of_pages %}
                        <li {% if i == current_page %}class="active"{% endif %}><a href="?page_id={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/all-tickets.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}