{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket">
                <div class="col col-md-12" id="ticket-info">
                    <h1>بلیط‌های من</h1>
                </div>
                <div class="col col-md-12" id="ticket-info">
                    {% for ticket in tickets %}

                        <div class="col col-md-2">
                            <a class="btn btn-primary btn-lg btn-block"
                               href="/ticket/{{ request.user.id }}/{{ ticket.id }}">
                                <i class="fa fa-ticket"></i> اطلاعات بلیط
                            </a>
                        </div>
                        <div class="event-image">
                            <i class="fa fa-ticket fa-3x"></i>
                        </div>
                        <a href="/ticket/{{ request.user.id }}/{{ ticket.id }}" class="event-info">
                            مسابقه فوتبال ایران و آمریکا (تعداد: {{ ticket.quantity }})
                        </a>
                        <div class="event-info">
                            شماره بلیط: {{ ticket.id }}
                        </div>

                        <div class="my-divider"></div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}