{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div id="body-container" class="col col-md-12">
            <form class="cd-form">
                    <p class="fieldset">
                        <label for="signin-email" class="image-replace cd-username">مبلغ</label>
                        <input type="email" placeholder="۱۰۰۰۰ تومان" id="signin-email" class="full-width has-padding has-border disabled">
                    </p>

                    <p class="fieldset">
                        <label for="signin-password" class="image-replace cd-password">شماره کارت</label>
                        <input type="text" placeholder="شماره کارت" id="signin-password" class="full-width has-padding has-border">
                    </p>

                                    <p class="fieldset">
                        <label for="signin-password" class="image-replace cd-password">رمز کارت</label>
                        <input type="text" placeholder="رمز کارت" id="signin-password" class="full-width has-padding has-border">
                    </p>


                    <p class="fieldset">
                        <a class="btn btn-primary btn-lg btn-block" href="/ticket/1/2">
                    <i class="fa fa-dollar"></i> خرید بلیط
                </a>
                    </p>
                </form>

        </div>
    </div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/about.css" %}"/>
    <link rel="stylesheet" href="{% static "css/ticket.css" %}"/>
{% endblock %}

