{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    {% for ticket,event,type,showtime,positions,organizer in ticket_event_type_list %}
        <div class="holder">
            <div id="body-container" class="col col-md-12">

                <div class="col col-md-12 ticket-box">
                <div class="col col-md-12 header">
                    <div class="address">
                        {{ organizer.address }}
                    </div>
                    <div class="col col-md-2">
                        <br/>
                        <a class="btn btn-primary btn-lg btn-block" onClick="window.print();return false" href="#print">
                            <i class="fa fa-print"></i> پرینت
                        </a><a class="btn btn-primary btn-lg btn-block" href="/events/{{ type }}/{{ event.id }}/">
                        <i class="fa fa-info-circle"></i> صفحه رویداد</a></div>
                    <div class="col col-md-1" style="float: right;">
                        <i class="fa fa-ticket fa-3x" style="padding: 0.5em 0 0 0"></i>
                    </div>
                </div>
                <div class="col col-md-12">
                    <div class="col col-md-12 ticket-head">{{ organizer }}</div>
                    <div class="col col-md-12 event-title">{{ event.title }}</div>
                </div>

                    <div class="col col-md-12 txt-centered">
                        <div class="col col-md-4 heading faded byekan">ستون</div>
                        <div class="col col-md-4 heading faded byekan">ردیف</div>
                        <div class="col col-md-4 heading faded byekan">جایگاه</div>
                        {% for position in positions %}
                            <div class="col col-md-4 ticket-row">{{ position.column }}</div>
                            <div class="col col-md-4 ticket-column">{{ position.row }}</div>
                            <div class="col col-md-4 ticket-section">{% if position.section %}{{ position.section }}{% else %}--{% endif %}</div>
                            {% if not forloop.last %}
                            <hr class="col col-md-12"/>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col col-md-12" style="margin-top: 20px; margin-bottom: 25px;">
                        <div class="col col-md-2 txt-centered faded2 byekan">شماره بلیط</div>
                        <div class="col col-md-2 txt-centered faded2 byekan">کد بلیط</div>
                        <div class="col col-md-2 txt-centered faded2 byekan">ساعت</div>
                        <div class="col col-md-2 txt-centered faded2 byekan">تاریخ</div>
                        <div class="col col-md-2 txt-centered faded2 byekan">قیمت کل</div>
                        <div class="col col-md-2 txt-centered faded2 byekan">خریدار</div>
                        <div class="col col-md-2 txt-centered">{{ ticket.id }}</div>
                        <div class="col col-md-2 txt-centered">{{ ticket.receipt }}</div>
                        <div class="col col-md-2 txt-centered">{{ showtime.from_time }}</div>
                        <div class="col col-md-2 txt-centered">
                            {% with showtime.date as date %}
                                {% include 'persian-date.html' %}
                            {% endwith %}</div>
                        <div class="col col-md-2 txt-centered">{{ ticket.price }} تومان</div>
                        <div class="col col-md-2 txt-centered">{{ request.user.first_name }} {{ request.user.last_name }}</div>
                    </div>
                    <hr/>
                    <div class="col col-md-12 notes">
                        <p>کد بلیط را به هنگام ورود به محل برگزاری رویداد به همراه داشته باشید.</p>
                        <p>بلیط‌های خریداری شده قابل استرداد نمی‌باشد.</p>
                        <p>حتما ۲۰ دقیقه قبل از شروع رویداد در محل حضور داشته باشید.</p>
                    </div>
                    <div class="col col-md-12 txt-centered" style="margin-top: 15px; color: #B8BABB; font-family: 'BYekan', sans-serif">
                        {% with ticket.purchased_date as date_time %}
                            {% include 'persian-date-time.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/about.css" %}"/>
    <link rel="stylesheet" href="{% static "css/ticket.css" %}"/>
{% endblock %}