/* body */

body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body > .holder {
    padding-top: 2em;
}

body > .holder > div.col > div.col {
    padding-right: 3%;
    padding-left: 3%;
    background-color: rgba(249, 249, 249, 0.95);
}

/* accordion */

body > .holder > div.col {
    background-color: rgba(221, 221, 221, 0.39);
}

#ticket-info {
    border-radius: 25px;
    box-shadow: 1px 3px 1px #dfdfe0, -1px -1px 0 #f2f2f2;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: #FFFFFF;
    padding: 1em 2em;

}

#ticket-info .image {
    transition: all 0.5s;
    box-shadow: 2px 11px 13px -4px #BAB9B9;
    background-size: 100% 100%;
    background-position: 50% 50%;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

#ticket-info .home {
    margin-right: 4em;
    float: right;
}

#ticket-info .away {
    margin-left: 4em;
    float: left;
}

#main-info {
    font-family: 'BYekan', sans-serif;
    font-weight: 900;
    color: rgba(201, 48, 44, 0.86);
    font-size: 0.65em;
    text-align: center;
}

#center-info {
    font-family: 'BYekan', sans-serif;
    font-size: 1.8em;
    margin-top: 0.4em;
    text-align: center;
}

#home-team {
    cursor: pointer;
    vertical-align: top;
    margin-left: 0.2em;
    border-left: 3px solid rgba(8, 8, 8, 0.19);
}

#away-team {
    cursor: pointer;
    vertical-align: top;
    padding-right: 0.2em;
    border-right: 3px solid rgba(8, 8, 8, 0.19);
}

#remaining-time {
    display: inline-block;
}

#remaining-time > div {
    border-radius: 5px;
    padding: 0 0.6em;
    margin-top: 0.49em;
    font-size: 0.36em;
    color: #dddddd;
    background-color: #080808;
    display: inline-block;
}

#remaining-time > div > div:last-of-type {
    color: #2981B2;
}

#links {
    background-color: #080808;
    width: 7em;
    position: fixed;
    right: -5.3em;
    top: 50%;
    transform: translate(0, -50%);
}

#links > div {
    cursor: pointer;
    text-align: left;
    transition: all 1s;
    position: relative;
    right: 0;
    background-color: #080808;
    padding: 0.5em 1em 0.5em 1em;
    font-family: 'BYekan', sans-serif;
    font-size: 0.7em;
    color: #ffffff;
}

#links > div i {
    margin-right: 1.5em;
}

#links > div:hover {
    right: 7em;
}

/* comments */

#comments {
    padding: 0;
    display: none;
}

.comment {
    margin-bottom: 1em;
    padding-right: 2em;
    background-color: #F2F2F2;
}

.comment .image {
    margin-top: 0.5em;
    border-radius: 50%;
    background-size: 100% 100%;
    height: 3.5em;
}

.comment:before {
    display: inline-block;
    content: '';
    height: 100%;
    width: 1%;
    position: absolute;
    right: 1%;
    background-color: #585858;
}

.comment:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 2%;
    top: 1em;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 8px solid #585858;
    border-bottom: 4px solid transparent;
}

.comment .name {
    margin-top: 0.3em;
    color: #65aac1;
    font-family: 'BYekan', sans-serif;
}

.comment .date {
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(88, 88, 88, 0.2);
    font-size: 0.7em;
}

.comment .text {
    text-align: justify;
    font-size: 0.8em;
}

#your-comment {
    height: 5em;
    margin-top: 1em;
}

#your-comment textarea {
    height: 5em;
    width: 50%;
    padding: 0.5em;
    font-size: 0.8em;
    resize: none;
    border-radius: 15px;
    border: 1px solid #c8c8c8;
    margin-top: 0.7em;
}

#your-comment textarea:focus {
    outline: none;
}

#your-comment .image {
    margin-top: 0;
    top: 50%;
    transform: translate(0, -50%);
}

#submit-comment {
    font-family: 'BYekan', sans-serif;
    position: relative;
    top: -3.2em;
}

/* more info */

#more-info {
    display: none;
}

#organizer-info {
    margin-top: 1em;
    border-radius: 25px;
    margin-bottom: 1em;
    background-color: rgba(66, 63, 63, 0.23);
    padding: 1em;
    font-family: 'BYekan', sans-serif;
    font-size: 0.7em;
}

.organizer-image {
    float: right;
    /*margin-left: 10px;*/
    height: 150px;
}

.organizer-details {
    line-height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px dotted;
    margin-right: 180px;
}

.event-image {
    border-radius: 15px;
    height: 70px;
    width: 115px;
    float: right;
    margin-left: 15px;
}

.event-info {
    font-family: 'BYekan', sans-serif;
    font-size: 0.7em;
    margin: 5px;
}

.my-divider {
    color: #dddddd;
    border-bottom: 1px solid;
    margin: 20px 0;
}

.org-image {
    height: 60px;
    width: 65px;
    margin-left: 10px;
}

/* progress */

/* progress */

.progress {
    padding-top: 10px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}

.progress .circle,
.progress .bar {
    display: inline-block;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}

.progress .bar {
    position: relative;
    width: 80px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.progress .circle .label {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 37px;
    border-radius: 50%;
    margin-top: 5px;
    color: #b5b5ba;
    font-size: 17px;
}

.progress .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
}

/* Done / Active */

.progress .bar.done, .progress .circle.done {
    background: #eee;
}

.progress .bar.active {
    background: linear-gradient(to left, #EEE 40%, #FFF 60%);
}

.progress .circle.done .label {
    color: #FFF;
    background: #81CE97;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}

.progress .circle.done .title {
    color: #444;
}

.progress .circle.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .2);
}

.progress .circle.active .title {
    color: #0c95be;
}

/* seat select */

#seat-select {
    padding: 0;
}

#seat-select .progress .circle {
    cursor: pointer;
}

#selects {
    padding-bottom: 1em;
    padding-top: 15px;
    background-color: #f5f5f5;
}

#positions > div, #stations > div > div
{
    margin-left: auto;
    margin-right: auto;
}

#stations > div
{
    display: none;
}

#seat-maps > div
{
    text-align: center;
    font-size: 0;
    display: none;
}

.add-to-cart
{
    font-family: 'BYekan', sans-serif;
}

/* seats */

.clear {
    clear: both;
}

.seat-row {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #B1B1B1;
    top: -8px;
    position: relative;
    font-family: 'BYekan', sans-serif;
    font-size: 15px;
}

.seat {
    background-size: 100% 100%;
    margin: 0 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.disabled-seat {
    color: transparent;
}

.no-internet-sale {
    opacity: 0.3;
    background-image: url('../img/seat_reserved.png');
}

.sold-seat {
    background-image: url('../img/seat_reserved.png');
}

.free-seat {
    background-image: url('../img/seat_available.png');
    cursor: pointer;
}

.selected-seat {
    background-image: url('../img/seat_selected.png');
    cursor: pointer;
}

