/* carousel */

#top-carousel {
    background-color: transparent;
}

.carousel-control.left .fa, .carousel-control.right .fa {
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
}

.carousel-indicators {
    margin-bottom: 2em;
    bottom: 0;
    width: 100%;
    padding-right: 0;
    left: 0;
    margin-left: 0;
}

.carousel-caption {
    padding-bottom: 2.5em;
}

.carousel-caption > div {
    transition: all 0.5s;
    opacity: 1;
    font-family: 'BYekan', sans-serif;
    font-size: 0.8em;
    display: inline-block;
    padding: 0.3em 1em;
    background-color: rgba(0, 0, 0, 0.6);
    color: #dbdbdb;
    border-radius: 10px;
}

.carousel-caption > div:hover {
    opacity: 0.3;
}

.carousel-inner .item img {
    width: 100%;
    height: 70vh !important;
}

/* body container */

#body-container {
    position: relative;
    top: -2em;
}

/* events */

#events {
    box-shadow: 0 5px 10px #E1E0E0;
    background-color: #FFFFFF;
    margin-bottom: 1em;
    padding-right: 0;
    padding-left: 0;
}

#events .nav-tabs > li {
    z-index: 5;
    text-align: center;
    font-family: 'BYekan', sans-serif;
    font-size: 0.7em;
    float: right;
}

#events .dropdown-menu > li > a
{
    display: block;
}

#events .nav-tabs > li > a > i {
    transition: all 0.5s;
}

#events .nav-tabs > li:not(.active) {
    opacity: 0.5;
}

#events .nav-tabs > li:hover {
    opacity: 1;
}

#events .tab-pane {
    overflow: auto;
    padding-bottom: 2.8em;
    border: solid #dddddd;
    border-width: 0 1px 0 1px;
}

#events .nav-tabs > li:hover > a > i {
    transform: scale(2) rotate(45deg);
}

#events .nav-tabs > li > a {
    margin-left: 0;
    border-radius: 0;
    margin-right: 0;
}

#events .nav-tabs > li.active > a {
    border-top-color: transparent;
}

#events .nav-tabs > li.active:last-of-type > a {
    border-left: none;
}

#events .nav-tabs .dropdown-menu {
    text-align: center;
    background-color: #ffffff;
    right: 0;
    left: auto;
    border: none;
    padding-top: 0;
    width: 100%;
}

.event {
    margin-top: 0.7em;
    position: relative;
    cursor: pointer;
    height: 7em;
    float: right;
}

.event .image {
    opacity: 0.3;
    border-radius: 5px;
    background-size: 100% 100%;
    height: 100%;
    transition: all 1s;
}

.event .image .date {
    height: 0;
    opacity: 0;
    font-family: 'BYekan', sans-serif;
    font-size: 0.7em;
    background-color: rgba(8, 8, 8, 0.66);
    color: #E2E2E2;
    text-align: center;
    transition: all 1s;
    bottom: 0;
    position: absolute;
    padding: 0.2em 1em;
    border-radius: 25px 0 0 0;
}

.event:hover .image .date {
    height: 2em;
    opacity: 1;
}

.event:hover .image {
    opacity: 1;
}

.event:hover .description {
    opacity: 0.0;
}

.event .description {
    transition: all 0.5s;
    font-family: 'BYekan', sans-serif;
    font-size: 0.7em;
    border-radius: 5px;
    padding: 0.2em 1em;
    background-color: rgba(8, 8, 8, 0.66);
    color: #ffffff;
    text-align: center;
    position: relative;
    display: block;
    height: 100%;
    top: -50%;
    transform: translate(0, -50%);
}

.event .description > div {
    padding-bottom: 0.2em;
}

.event .description .title {
    color: #F1AE50;
    font-size: 1.4em;
}

.event .description .place {
    font-size: 1.1em;
}

/* right side-bar */

#right-sidebar {
    background-color: #ffffff;
    padding: 0;
}

.widget {
    transition: all 1s;
    opacity: 0.7;
}

.widget:hover {
    opacity: 1;
}

.widget .heading {
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
    font-family: 'BYekan', sans-serif;
    font-size: 0.7em;
    color: #ffffff;
    background-color: #1F1E1E;
}

.widget .heading:before {
    content: '';
    position: absolute;
    right: 0;
    display: inline-block;
    height: 100%;
    width: 2.5em;
    background-color: #2981B2;
    border-radius: 15px 0 0 15px;
}

.widget .heading i.fa {
    color: #F7AC2E;
    position: relative;
    top: 0.2em;
    right: 1.25em;
    transform: translate(50%, 0);
}

.widget .heading span.title {
    display: inline-block;
    padding: 0.75em 2em;
}

.widget .content {
    padding: 0.5em;
}

.small-event {
    border-radius: 5px;
    background-color: #080808;
    position: relative;
    padding-bottom: 0.3em;
    text-align: center;
    font-family: 'BYekan', sans-serif;
    font-size: 0.7em;
    transition: all 0.2s;
}

.small-event:not(:last-of-type) {
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgb(233, 219, 219);
}

.small-event .event-type {
    font-size: 0.75em;
    position: absolute;
    border-radius: 5px;
    background-color: #94C0D9;
    padding: 0.65em 0.3em;
    width: 5em;
    height: 60%;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
}

.small-event .title {
    color: #c0a16b;
    padding: 0.3em 0.5em 0;
}

.small-event .place {
    color: #dddddd;
    font-size: 0.7em;
    border-radius: 5px;
}

.small-event .date {
    font-size: 0.75em;
    height: 60%;
    top: 50%;
    transform: translate(0, -50%);
    left: 5%;
    position: absolute;
    width: 5em;
    border-radius: 5px;
    background-color: #dddddd;
    padding: 0.5em 0.3em;
}

/* suggestions */

#suggestions {
    /*padding: 0;*/
}

.event-carousel {

}

.medium-event {
    float: right;
    color: #dddddd;
    border-radius: 0 0 15px 15px;
    margin-bottom: 1em;
}

.medium-event .image {
    transition: all 0.5s;
    background-size: 100% 100%;
    height: 11em;
}

.medium-event .image:hover {
    background-position: center;
    background-size: 200% 200%;
}

.medium-event .title {
    background-color: rgba(52, 52, 52, 0.61);
    color: rgb(255, 255, 255);
    font-family: 'BYekan', sans-serif;
    font-size: 0.8em;
    padding-top: 0.2em;
    text-align: center;
}

.medium-event .title a {
    color: inherit;
}

.medium-event .place {
    color: rgba(0, 0, 0, 0.68);
    background-color: rgba(52, 52, 52, 0.31);
    text-align: center;
    font-family: 'BYekan', sans-serif;
    font-size: 0.6em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.4em;
    padding-top: 0.5em;
}

.medium-event .description {
    text-align: center;
    height: 9em;
    color: #030303;
    line-height: 20px;
    padding: 0.5em 0.7em;
    font-size: 0.8em;
    background-color: #ddd;
}

.medium-event .footer {
    text-align: center;
    border-radius: 0 0 10px 10px;
    background-color: #343434;
    overflow: hidden;
}

.medium-event .footer .see-ticket {
    font-family: 'BYekan', sans-serif;
    font-size: 0.6em;
    float: right;
    color: rgb(242, 189, 96);
}

.medium-event .footer .see-ticket i {
    margin-right: 0.3em;
}

.medium-event .footer .date {
    font-family: 'BYekan', sans-serif;
    font-size: 0.6em;
    float: left;
    padding: 0 0 0 0.5em;
}

.medium-event .footer .date i {
    margin-left: 0.3em;
}

/* spacer */

.or-spacer {
    padding-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.or-spacer .mask {
    overflow: hidden;
    height: 20px;
}

.or-spacer .mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px black;
}

.or-spacer span {
    cursor: pointer;
    font-family: 'BYekan', sans-serif;
    font-size: 0.7em;
    width: 16%;
    height: 50px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: #525252;
}

.or-spacer span i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #aaa;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    color: #ffffff;
}

.discount {
    opacity: 0.9;
    height: 70px;
    position: absolute;
    top: 0;
}

.discount-text{
    position: absolute;
    top: 0.5em;
    font-family: 'BYekan', sans-serif;
    font-size: 0.8em;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    transform: rotate(45deg);
}

.discount-label
{
    content: '';
    position: absolute;
    top: 0;
    width: 0;
	height: 0;
	border-top: 2.7em solid #d6134e;
	border-left: 2.7em solid transparent;
}