{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket">
                <div role="tabpanel" class="tab-pane" id="details">
                    <div class="col col-md-12">
                        <h3>افزودن رویداد جدید</h3>

                        <form class="cd-form">

                            <p class="fieldset">
                                <label for="signin-email" class="image-replace cd-username">عنوان رویداد</label>
                                <input type="email" placeholder="عنوان رویداد" id="signin-email"
                                       class="full-width has-padding has-border disabled">
                            </p>

                            <p class="fieldset">
                                <label for="signin-email" class="image-replace cd-username">توضیحات</label>
                                <input type="email" placeholder="توضیحات" id="signin-email"
                                       class="full-width has-padding has-border disabled">
                            </p>

                            <p class="fieldset">
                                <label for="signin-email" class="image-replace cd-username">دسته</label>
                                <input type="email" placeholder="دسته" id="signin-email"
                                       class="full-width has-padding has-border disabled">
                            </p>

                            <p class="fieldset">
                                <label for="signin-email" class="image-replace cd-username">محل برگزاری</label>
                                <input type="email" placeholder="محل برگزاری" id="signin-email"
                                       class="full-width has-padding has-border disabled">
                            </p>

                            <p class="fieldset">
                                <label for="signin-email" class="image-replace cd-username">تصویر رویداد</label>
                                <input type="email" placeholder="تصویر رویداد" id="signin-email"
                                       class="full-width has-padding has-border disabled">
                            </p>

                            <a class="btn btn-primary btn-lg btn-block" href="/profile/1/">
                                <i class="fa fa-plus-circle"></i> افزودن
                            </a>
                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}