{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div id="add-event" class="col col-md-12">

                <h3>افزودن رویداد جدید</h3>

                <form class="cd-form" id="add-event-form">{% csrf_token %}

                    <p class="fieldset">
                        <i class="fa fa-header"></i>
                        <input class="full-width has-padding has-border" id="event-title"
                               name="event-title"
                               type="text"
                               placeholder="عنوان رویداد">
                        <span class="cd-error-message">عنوان رویداد نامعتبر</span>
                    </p>

                    <p class="fieldset">
                        <i class="fa fa-info"></i>
                        <input class="full-width has-padding has-border" id="event-description"
                               name="event-description"
                               type="text"
                               placeholder="توضیحات">
                        <span class="cd-error-message">توضیحات نامعتبر</span>
                    </p>

                    <p class="fieldset" style="padding-top: 5px; padding-right: 5px;">
                        <i class="fa fa-th-list" ></i>
                        <select id="event-type" name="event-type" onchange="handle()" style="padding-right: 50px;" >
                            <option selected="selected" value="انتخاب گروه"  >انتخاب گروه</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </p>

                    <p class="fieldset">
                        <i class="fa fa-map-marker"></i>
                        <input class="full-width has-padding has-border" id="event-address"
                               name="event-address"
                               type="text"
                               placeholder="محل برگزاری">
                        <span class="cd-error-message">محل برگزاری نامعتبر</span>
                    </p>

{#                    <p class="fieldset">#}
{#                        <i class="fa fa-slack"></i>#}
{#                        <input class="full-width has-padding has-border" id="event-capacity"#}
{#                               name="event-capacity"#}
{#                               type="text"#}
{#                               placeholder="ظرفیت">#}
{#                        <span class="cd-error-message">ظرفیت نامعتبر</span>#}
{#                    </p>#}

                    <p class="fieldset">
                        <i class="fa fa-file-image-o"></i>
                        <input class="full-width has-padding has-border" id="event-photo"
                               name="event-photo"
                               type="file">
                    </p>
                    <div id="sport-extra-data" style="display: none;">
                        <h3>اطلاعات بیشتر رویداد ورزشی</h3>

                        <p class="fieldset">
                            <i class="fa fa-flag"></i>
                            <input class="full-width has-padding has-border" id="event-home-team"
                                   name="event-home-team"
                                   type="text"
                                   placeholder="کشور میزبان">
                            <span class="cd-error-message">کشور میزبان نامعتبر است</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-flag-o"></i>
                            <input class="full-width has-padding has-border" id="event-away-team"
                                   name="event-away-team"
                                   type="text"
                                   placeholder="کشور مهمان">
                            <span class="cd-error-message">کشور مهمان نامعتبر است</span>
                        </p>
                    </div>
                    <div id="cinema-extra-data" style="display: none;">
                        <h3>اطلاعات بیشتر رویداد سینمایی</h3>
                        <p class="fieldset">
                            <i class="fa fa-film"></i>
                            <input class="full-width has-padding has-border" id="event-director"
                                   name="event-director"
                                   type="text"
                                   placeholder="کارگردان">
                            <span class="cd-error-message">کارگردان نامعتبر است</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-users"></i>
                            <input class="full-width has-padding has-border" id="event-actors"
                                   name="event-actors"
                                   type="text"
                                   placeholder="بازیگرها">
                            <span class="cd-error-message">بازیگران نامعتبر است</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-calendar"></i>
                            <input class="full-width has-padding has-border" id="event-year"
                                   name="event-year"
                                   type="text"
                                   placeholder="سال ساخت">
                            <span class="cd-error-message">سال ساخت نامعتبر است</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-paperclip"></i>
                            <input class="full-width has-padding has-border" id="event-story-summary"
                                   name="event-story-summary"
                                   type="text"
                                   placeholder="خلاصه داستان">
                            <span class="cd-error-message">خلاصه داستان نامعتبر است</span>
                        </p>
                    </div>

                <div id="music-extra-data" style="display: none;">
                    <h3>اطلاعات بیشتر رویداد موسیقی</h3>

                    <p class="fieldset">
                        <i class="fa fa-group"></i>
                        <input class="full-width has-padding has-border" id="event-music-group"
                               name="event-music-group"
                               type="text"
                               placeholder="نام گروه">
                        <span class="cd-error-message">نام گروه نامعتبر است</span>
                    </p>

                    <p class="fieldset">
                        <i class="fa fa-microphone"></i>
                        <input class="full-width has-padding has-border" id="event-vocalist"
                               name="event-vocalist"
                               type="text"
                               placeholder="نام خواننده">
                        <span class="cd-error-message">نام خواننده نامعتبر است</span>
                    </p>

                    <p class="fieldset">
                        <i class="fa fa-music"></i>
                        <input class="full-width has-padding has-border" id="event-musicians"
                               name="event-musicians"
                               type="text"
                               placeholder="نام نوازنده‌ها">
                        <span class="cd-error-message">نام نوازندگان نامعتبر است</span>
                    </p>
                </div>

                    <p class="fieldset">
                        <i class="fa fa-plus"></i>
                        <input class="full-width" type="submit" value=" افزودن رویداد">
                    </p>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/add-event-ajax.js" %}"></script>
    <script src="{% static "js/sport-event.js" %}"></script>
    <script src="{% static "js/category.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}