{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket">
                    <div role="tabpanel" class="tab-pane" id="details">
                        <div class="col col-md-12">
                            <h3>افزودن رویداد جدید</h3>

                            <form class="cd-form">

                                <p class="fieldset">
                                    <label for="signin-email" class="image-replace cd-username">نام</label>
                                    <input type="email" placeholder="نام" id="signin-email"
                                           class="full-width has-padding has-border disabled">
                                </p>

                                <p class="fieldset">
                                    <label for="signin-email" class="image-replace cd-username">نام خانوادگی</label>
                                    <input type="email" placeholder="نام خانوادگی" id="signin-email"
                                           class="full-width has-padding has-border disabled">
                                </p>

                                <p class="fieldset">
                                    <label for="signin-email" class="image-replace cd-username">شماره تلفن</label>
                                    <input type="email" placeholder="شماره تلفن" id="signin-email"
                                           class="full-width has-padding has-border disabled">
                                </p>
                                <a class="btn btn-primary btn-lg btn-block" href="/profile/1/">
                                    <i class="fa fa-plus-circle"></i> افزودن
                                </a>
                            </form>
                        </div>
                    </div>


            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}