{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12">

                <h3>افزودن دسته جدید</h3>

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#add-category" aria-controls="add-category" role="tab"
                                                              data-toggle="tab">افزودن دسته</a></li>
                    <li role="presentation"><a href="#add-sub-category" aria-controls="home" role="tab" data-toggle="tab">
                        افزودن زیر دسته
                    </a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="add-category">
                        <div class="col col-md-12">
                            <form class="cd-form" id="add-category-form">{% csrf_token %}

                                <p class="fieldset">
                                    <i class="fa fa-header"></i>
                                    <input class="full-width has-padding has-border" id="category-title"
                                           name="category-title"
                                           type="text"
                                           placeholder="عنوان دسته">
                                </p>
                                <p class="fieldset">
                                    <input class="full-width" type="submit" value="افزودن دسته">
{#                                    <i class="fa fa-plus"></i>#}
                                </p>
                            </form>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="add-sub-category">
                        <div class="col col-md-12">


                          <form class="cd-form" id="add-sub-category-form">{% csrf_token %}

                                <select name="event-type" id="event-type">
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.title }}</option>
                                    {% endfor %}
                                </select>
                                <p class="fieldset">
                                    <i class="fa fa-header"></i>
                                    <input class="full-width has-padding has-border" id="sub-category-title"
                                           name="sub-category-title"
                                           type="text"
                                           placeholder="عنوان زیردسته">
                                </p>
                                <p class="fieldset">
{#                                    <i class="fa fa-plus"></i>#}
                                    <input class="full-width" type="submit" value="افزودن زیردسته">
                                </p>
                            </form>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/category-ajax.js" %}"></script>
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}