{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket">
                {#                <p style="display: inline;">#}
                {#                    نمایش بر اساس#}
                {#                </p>#}
                {#                <select name="filter">#}
                {#                    <option>#}
                {#                        ورزشی#}
                {#                    </option>#}
                {#                    <option>#}
                {#                        هنری#}
                {#                    </option>#}
                {#                    <option>#}
                {#                        گردشگری#}
                {#                    </option>#}
                {#                </select>#}

                <div class="col col-md-12" id="ticket-info">
                    <img class="event-image" src={% static "img/iceage.jpg" %}>
                    <a href="/events/cinema/1/" class="event-info">
                        فیلم سینمایی عصر یخبندان
                    </a>

                    <div class="event-info">
                        3 مرداد 94 ساعت 18:00
                    </div>

                    <div class="my-divider"></div>

                    <img class="event-image" src={% static "img/nahanganbar.jpg" %}>
                    <a href="/events/cinema/2/" class="event-info">
                        فیلم سینمایی نهنگ عنبر
                    </a>

                    <div class="event-info">
                        4 مرداد 94 ساعت 19:00
                    </div>

                    <div class="my-divider"></div>

                    <img class="event-image" src={% static "img/eteraf.jpg" %}>
                    <a href="/events/cinema/3/" class="event-info">
                        فیلم سینمایی اعترافات ذهن خطرناک من
                    </a>

                    <div class="event-info">
                        5 مرداد 94 ساعت 21:00
                    </div>

                    <div class="my-divider"></div>

                    <img class="event-image" src={% static "img/concert.jpg" %}>
                    <a href="/events/music/1/" class="event-info">
                        کنسرت احسان خواجه امیری
                    </a>

                    <div class="event-info">
                        1 شهریور 94 ساعت 20:00
                    </div>
                </div>

            </div>
            {% if request.user.is_organizer %}
                <i class="fa fa-plus-circle"></i><a href="/events/add/"> اضافه کردن رویداد</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}