{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket">
                <div class="col col-md-12" id="ticket-info">
                    <img class="org-image" src={% static "img/azadi.jpg" %}>
                    <a href="/organizer/1" class="event-info">
                        نام برگزار کننده: سینما آزادی
                    </a>

                    <div class="my-divider"></div>

                    <img class="org-image" src={% static "img/vahdat.jpg" %}>
                    <a href="/organizer/2" class="event-info">
                        نام برگزارکننده: تالار وحدت
                    </a>

                    <div class="my-divider"></div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}
