{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket">
                <div class="col col-md-12" id="ticket-info">
                    {% for organizer in organizers %}
                        <img class="org-image" src='{{ MEDIA_URL }}{{ organizer.photo }}'>
                                                    نام برگزارکننده:
                        <a href="/organizer/{{ organizer.id }}" class="event-info">
                            {{ organizer.title }}
                        </a>

                        <div class="my-divider"></div>
                    {% endfor%}
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}
