{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket">
                {#                <p style="display: inline;">#}
                {#                    نمایش بر اساس#}
                {#                </p>#}
                {#                <select name="filter">#}
                {#                    <option>#}
                {#                        ورزشی#}
                {#                    </option>#}
                {#                    <option>#}
                {#                        هنری#}
                {#                    </option>#}
                {#                    <option>#}
                {#                        گردشگری#}
                {#                    </option>#}
                {#                </select>#}

                <div class="col col-md-12" id="ticket-info">
                    {% for event,type in event_type_list %}
                        {% if request.user.is_organizer %}
                            <div class="col col-md-2">
                                <a class="btn btn-primary btn-lg btn-block"
                                   href="/events/{{ event.id }}/edit/">
                                    <i class="fa fa-edit"></i> ویرایش رویداد
                                </a>
                                <a class="btn btn-danger btn-lg btn-block" data-toggle="modal"
                                   data-target="#confirm-delete">
                                    <i class="fa fa-remove"></i> حذف رویداد
                                </a>
                            </div>
                        {% endif %}
                        <img class="event-image" src={% static "img/{{ event.photo }}" %}>
                        <a href="/events/{{ type }}/{{ event.id }}/" class="event-info">
                            {{ event.title }}
                        </a>

                        <div class="event-info">
                            {{ event.address }}
                        </div>

                        <div class="my-divider"></div>

                    {% endfor %}

                </div>

            </div>
            {% if request.user.is_organizer %}
                <i class="fa fa-plus-circle"></i><a href="/events/add/"> اضافه کردن رویداد</a>
            {% endif %}
        </div>
    </div>


    <!-- Delete Event Modal -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">حذف رویداد</h4>
                </div>
                <div class="modal-body">
                    آیا مطمئنید می‌خواهید این رویداد را حذف کنید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
                    <button type="button" class="btn btn-danger">حذف</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}