{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div id="edit-category" class="col col-md-12">

                <h3>ویرایش دسته</h3>

                <form class="cd-form" id="edit-category-form">{% csrf_token %}

                    <p class="fieldset">
                        <i class="fa fa-header"></i>
                        <input class="full-width has-padding has-border" id="category-title"
                               name="category-title"
                               type="text"
                               value="{{ category.title }}">
                        <span class="cd-error-message">عنوان رویداد نامعتبر</span>
                    </p>

                    <p class="fieldset">
                        <input class="full-width" type="submit" value="ویرایش دسته">
                    </p>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/add-event-ajax.js" %}"></script>
    <script src="{% static "js/sport-event.js" %}"></script>
    <script src="{% static "js/category-ajax.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}