{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div id="edit-event" class="col col-md-12">

                <h3>ویرایش رویداد</h3>

                <form class="cd-form" action="#" id="edit-event-form" method="POST">
                    {% csrf_token %}
                    <p class="fieldset">
                        <i class="fa fa-header"></i>
                        <input class="full-width has-padding has-border" id="event-title"
                               name="event-title"
                               type="text"
                               value="{{ event.title }}">
                        <span class="cd-error-message">عنوان رویداد نامعتبر</span>
                    </p>

                    <p class="fieldset">
                        <i class="fa fa-info"></i>
                        <input class="full-width has-padding has-border" id="event-description"
                               name="event-description"
                               type="text"
                               value="{{ event.description }}">
                        <span class="cd-error-message">توضیحات نامعتبر</span>
                    </p>

                    <p class="fieldset">
                        <i class="fa fa-th-list"></i>
                        <select name="event-type" >
                            {% for category in categories %}
                                {% if event.category == category %}
                                    <option value="{{ category.id }}" selected="selected">{{ category.title }}</option>
                                {% else %}
                                    <option value="{{ category.id }}">{{ category.title }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </p>

                    <p class="fieldset">
                        <i class="fa fa-map-marker"></i>
                        <input class="full-width has-padding has-border" id="event-address"
                               name="event-address"
                               type="text"
                               value="{{ event.address }}">
                        <span class="cd-error-message">محل برگزاری نامعتبر</span>
                    </p>

{#                    <p class="fieldset">#}
{#                        <i class="fa fa-slack"></i>#}
{#                        <input class="full-width has-padding has-border" id="event-capacity"#}
{#                               name="event-capacity"#}
{#                               type="text"#}
{#                               value="{{ event.capacity }}">#}
{#                        <span class="cd-error-message">ظرفیت نامعتبر</span>#}
{#                    </p>#}

                    <p class="fieldset">
                        <i class="fa fa-file-image-o"></i>
                        <input class="full-width has-padding has-border" id="event-photo"
                               name="event-photo"
                               type="file">
                    </p>
                    {% if type == "sport" %}
                        <h3>اطلاعات بیشتر رویداد ورزشی</h3>

                        <p class="fieldset">
                            <i class="fa fa-flag"></i>
                            <input class="full-width has-padding has-border" id="event-home-team"
                                   name="event-home-team"
                                   type="text"
                                   value="{{ sport.home_team }}">
                            <span class="cd-error-message">کشور میزبان نامعتبر است</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-flag-o"></i>
                            <input class="full-width has-padding has-border" id="event-away-team"
                                   name="event-away-team"
                                   type="text"
                                   value="{{ sport.away_team }}">
                            <span class="cd-error-message">کشور مهمان نامعتبر است</span>
                        </p>

                    {% elif type == "cinema" %}

                        <h3>اطلاعات بیشتر رویداد سینمایی</h3>

                        <p class="fieldset">
                            <i class="fa fa-film"></i>
                            <input class="full-width has-padding has-border" id="event-director"
                                   name="event-director"
                                   type="text"
                                   value="{{ movie.director }}">
                            <span class="cd-error-message">کارگردان نامعتبر است</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-users"></i>
                            <input class="full-width has-padding has-border" id="event-actors"
                                   name="event-actors"
                                   type="text"
                                   value="{{ movie.actors }}">
                            <span class="cd-error-message">بازیگران نامعتبر است</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-calendar"></i>
                            <input class="full-width has-padding has-border" id="event-year"
                                   name="event-year"
                                   type="number"
                                   value="{{ movie.year }}">
                            <span class="cd-error-message">سال ساخت نامعتبر است</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-paperclip"></i>
                            <input class="full-width has-padding has-border" id="event-story-summary"
                                   name="event-story-summary"
                                   type="text"
                                   value="{{ movie.story_summary }}">
                            <span class="cd-error-message">خلاصه داستان نامعتبر است</span>
                        </p>
                    {% elif type == "music" %}
                        <h3>اطلاعات بیشتر رویداد کنسرت</h3>

                        <p class="fieldset">
                            <i class="fa fa-group"></i>
                            <input class="full-width has-padding has-border" id="event-music-group"
                                   name="event-music-group"
                                   type="text"
                                   value="{{ concert.group_name }}">
                            <span class="cd-error-message">نام گروه نامعتبر است</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-microphone"></i>
                            <input class="full-width has-padding has-border" id="event-vocalist"
                                   name="event-vocalist"
                                   type="text"
                                   value="{{ concert.vocalist }}">
                            <span class="cd-error-message">نام خواننده نامعتبر است</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-music"></i>
                            <input class="full-width has-padding has-border" id="event-musicians"
                                   name="event-musicians"
                                   type="text"
                                   value="{{ concert.musicians }}">
                            <span class="cd-error-message">نام نوازندگان نامعتبر است</span>
                        </p>
                    {% endif %}

                    <p class="fieldset">
                        <i class="fa fa-edit"></i>
                        <input class="full-width" type="submit" value=" ویرایش رویداد">
                    </p>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/edit-event.js" %}"></script>
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}