<div id="links">
    <div>
        <form action="/profile/{{ request.user.id }}/favorites/" method="POST"
              id="add-favorite-form">{% csrf_token %}
            <input type="hidden" id="event" name="event"
                   value="{{ event.id }}"/>
        </form>
        <button style="background-color: transparent; border: none;direction: ltr;"
                type="submit" style="color: #ffffff" form="add-favorite-form">
            <i style="margin-right: 0;position: relative; top: 4px; right: 8px;" class="fa fa-heart"></i>علاقه‌مندی‌ها
                                    </button>
    </div>
    <div id="for-comments" style="background-color: #777">نظر کاربران<i class="fa fa-comments"></i></div>
    <div id="for-more-info" style="background-color: #c9302c">اطلاعات بیشتر<i class="fa fa-info"></i></div>
</div>