{% load staticfiles %}
<div class="col col-md-12" id="comments">
    <div class="comment col col-md-12" id="your-comment">
        <div id="for-ticket" style="background-color: #c9302c">بازگشت به صفحهٔ رویداد<i class="fa fa-share"></i></div>
        <div class="col col-md-11">
            <textarea placeholder="نظر شما ..."></textarea>
            <input type="button" class="btn btn-primary" value="ثبت نظر" id="submit-comment"/>
        </div>
    </div>
    {% for comment,writer in comments %}
    <div class="comment col col-md-12">
        <div class="col col-md-11">
            <div class="name">{{ writer }}</div>
            <div class="date">{{ comment.time }}</div>
            <div class="text">{{ comment.text }}</div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="col col-md-12" id="more-info">
<div id="for-ticket" style="background-color: #c9302c">بازگشت به صفحهٔ رویداد<i class="fa fa-share"></i></div>
    <div class="col col-md-12" id="organizer-info">
        <a href="#"><i class="fa fa-angle-double-left" style="margin-left: 0.5em"></i>برگزار کننده این
            رویداد</a>
    </div>
</div>