{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket">
                <div class="col col-md-12" id="ticket-info">
                    <img class="organizer-image" src='{{ MEDIA_URL }}{{ organizer.photo }}'>

                    <div class="organizer-details">
                        نام مجموعه:
                        {{ organizer.title }}
                    </div>
                    <div class="organizer-details">
                        آدرس:
                        {{ organizer.address }}
                    </div>
                    <div class="organizer-details">
                        تلفن:
                        {{ organizer.phone }}
                    </div>
                </div>

                <h2>
                    رویدادهای این مجموعه
                </h2>

                <div class="col col-md-12" id="ticket-info">
                    {% for event,type, organizer, date in organizer_events %}
                        <img class="event-image" src='{{ MEDIA_URL }}{{ event.photo }}'>
                        نام رویداد:
                        <a href="/events/{{ type }}/{{ event.id }}" class="event-info">
                            {{ event.title }}
                        </a>

                        <div class="event-info">
                            زمان رویداد:
                            {% with date.date as date %}
                                {% include 'persian-date.html' %}
                            {% endwith %}
                        </div>

                        <div class="my-divider"></div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}