{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket" event_id="{{ event.id }}" show_time="{{ show_time.id }}">
                <div class="col col-md-12" id="ticket-info">
                    <div class="image home"
                         style="background-image: url('{% static 'flags/' %}{{ event.sport.home_team }}.png')"></div>
                    <div class="image away"
                         style="background-image: url('{% static 'flags/' %}{{ event.sport.away_team }}.png')"></div>
                    <div id="main-info">
                        {% with show_time.date as date %}
                        {% include 'persian-date.html' %}
                        {% endwith %} | {{ organizer.title }} | ساعت{{ show_time.from_time }}
                    </div>
                    <div id="center-info">
                                <span id="home-team">
                                    {{ event.sport.home_team }}
                                </span>

                        <div id="remaining-time" time-difference-milli-seconds="{{ remaining_time }}">
                            <div>
                                <div id="day"></div>
                                <div>روز</div>
                            </div>
                            <div>
                                <div id="hour"></div>
                                <div>ساعت</div>
                            </div>
                            <div>
                                <div id="minute"></div>
                                <div>دقیقه</div>
                            </div>
                            <div>
                                <div id="second"></div>
                                <div>ثانیه</div>
                            </div>
                        </div>
                                <span id="away-team">
                                    {{ event.sport.away_team }}
                                </span>
                    </div>
                </div>
                <div class="col col-md-12" id="seat-select">
                    <div class="col col-md-12 progress">
                        <div class="circle active">
                            <span class="label">1</span>
                            <span class="title">موقعیت</span>
                        </div>
                        <span class="bar active"></span>

                        <div class="circle">
                            <span class="label">2</span>
                            <span class="title">جایگاه</span>
                        </div>
                        <span class="bar half"></span>

                        <div class="circle">
                            <span class="label">3</span>
                            <span class="title">صندلی</span>
                        </div>
                    </div>
                    <div class="col col-md-12" id="selects">
                        {% with template_name=organizer.id|stringformat:"s"|add:".html" %}
                            {% include ''|add:template_name %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="col col-md-12" id="comments">
                <div class="comment col col-md-12" id="your-comment">
                    <div class="col col-md-11">
                        <textarea placeholder="نظر شما ..."></textarea>
                        <input type="button" class="btn btn-primary" value="ثبت نظر" id="submit-comment"/>
                    </div>
                    <div class="col col-md-1 image"
                         style="background-image: url('{% static "img/default_profile_large.jpg" %}')"></div>
                </div>
                <div class="comment col col-md-12">
                    <div class="col col-md-11">
                        <div class="name">کامران محبی</div>
                        <div class="date">۲۵ خرداد ۱۳۹۴، ۲:۱۱ عصر</div>
                        <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                            شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                            کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا
                            با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به
                            پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای
                            موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </div>
                    </div>
                    <div class="col col-md-1 image"
                         style="background-image: url('{% static "img/ee2c94d4ce05632f957c7045f21a4333.jpeg" %}')"></div>
                </div>
            </div>
            <div class="col col-md-12" id="more-info">
                <div class="col col-md-12" id="organizer-info">
                    <a href="/organizer/{{ organizer.id }}/"><i class="fa fa-angle-double-left"
                                                                style="margin-left: 0.5em"></i>برگزار کننده این
                        رویداد</a>
                </div>
            </div>
        </div>
    </div>
    <div id="links">
        <div id="for-ticket" style="background-color: #c9302c">خرید بلیط<i class="fa fa-dollar"></i></div>
        <div id="for-comments" style="background-color: #555">نظر کاربران<i class="fa fa-comments"></i></div>
        <div id="for-more-info" style="background-color: #c9302c">اطلاعات بیشتر<i class="fa fa-info"></i></div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.maphilight.min.js' %}"></script>
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}