{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}
    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket" event_id="{{ event.id }}" show_time="{{ show_time.id }}" discount="{{ show_time.promotion.discount }}">
                <div class="col col-md-12" id="ticket-info">
                    <div class="image home"
                         style="background-image: url('{% static 'flags/' %}{{ event.sport.home_team }}.png')"></div>
                    <div class="image away"
                         style="background-image: url('{% static 'flags/' %}{{ event.sport.away_team }}.png')"></div>
                    <div id="main-info">
                        {% with show_time.date as date %}
                            {% include 'persian-date.html' %}
                        {% endwith %} | {{ organizer.title }} | ساعت{{ show_time.from_time }}
                    </div>
                    <div id="center-info">
                                <span id="home-team">
                                    {{ event.sport.home_team }}
                                </span>

                        <div id="remaining-time" time-difference-milli-seconds="{{ remaining_time }}">
                            <div>
                                <div id="day"></div>
                                <div>روز</div>
                            </div>
                            <div>
                                <div id="hour"></div>
                                <div>ساعت</div>
                            </div>
                            <div>
                                <div id="minute"></div>
                                <div>دقیقه</div>
                            </div>
                            <div>
                                <div id="second"></div>
                                <div>ثانیه</div>
                            </div>
                        </div>
                                <span id="away-team">
                                    {{ event.sport.away_team }}
                                </span>
                    </div>
                </div>
                <div class="col col-md-12" id="seat-select">
                    <div class="col col-md-12 progress">
                        <div class="circle active">
                            <span class="label">1</span>
                            <span class="title">موقعیت</span>
                        </div>
                        <span class="bar active"></span>

                        <div class="circle">
                            <span class="label">2</span>
                            <span class="title">جایگاه</span>
                        </div>
                        <span class="bar half"></span>

                        <div class="circle">
                            <span class="label">3</span>
                            <span class="title">صندلی</span>
                        </div>
                    </div>
                    <div class="col col-md-12" id="selects">
                        {% with template_name=organizer.id|stringformat:"s"|add:".html" %}
                            {% include ''|add:template_name %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        {% include "event-additional-info.html" %}
        </div>
    </div>
    {% include "event-additional.html" %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.maphilight.min.js' %}"></script>
    <script src="{% static "js/comment.js" %}"></script>
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/sport-event.css" %}"/>
{% endblock %}