{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}

    <div class="holder">
        <div class="col col-md-12">
            <div class="col col-md-12" id="ticket" organizer_id="{{ organizer.id }}" event_id="{{ event.id }}"
                 show_time_id="{{ show_time.id }}">
                <div class="col col-md-12" id="ticket-info-music">
                    <div id="top-carousel" class="col col-md-8 carousel slide" style="padding: 0" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {% for photo in event.gallery_photos.all %}
                                <div class="item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ MEDIA_URL }}{{ photo.pic }}">
                                </div>
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#top-carousel" role="button" data-slide="prev">
                            <span class="fa fa-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#top-carousel" role="button" data-slide="next">
                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="col col-md-4 music-info ">
                        <div class="vocalist"><span>{{ event.title }}</span></div>
                        <div class="date">
                            {% with show_time.date as date %}{% include 'persian-date.html' %}{% endwith %}</div>
                        <span style="margin-bottom: 0.5em;display: inline-block"
                              class="time">از ساعت {{ show_time.from_time }} الی {{ show_time.to_time }}</span>
                        <br/>

                        <div class="star-ratings-sprite {% if can_rate %}not-rated{% endif %}"
                             initial-rate="{{ rates_average_percent }}%">
                            <span style="width:{{ rates_average_percent }}%" class="rating"></span>
                        </div>
                        <div class="num-of-voters"><span>{{ num_of_votes }}</span> رأی</div>
                        <div class="additional-info">
                            <span class="place">مکان:</span>
                            <span>{{ organizer.title }}</span>
                            <br/>
                            <span class="capacity">ظرفیت باقیمانده:</span>
                            <span>{{ show_time.capacity }} نفر</span>
                            <br/>
                            <span class="price">هزینه :</span>
                            <span>{{ price }} هزار تومان</span>
                            <br/>
                            <span style="margin-top: 0; display: none"></span>
                            <span class="musicians">{{ event.description }}</span>
                        </div>
                    </div>
                </div>
                <div style="display: none" id="bought-tickets">
                    <div show-time-id="{{ show_time.id }}" organizer-id="{{ organizer.id }}">
                        {% for ticket in show_time.tickets.all %}{% for position in ticket.positions.all %}/
                            {{ position.row }},{{ position.column }}/{% endfor %}{% endfor %}</div>
                </div>
                <div id="plans">
                    <div class="map" price="{{ price }}" organizer-id="{{ organizer.id }}" style="display: block">
                        {% with template_name=organizer.id|stringformat:"s"|add:".html" %}
                            {% include ''|add:template_name %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="col col-md-12" id="comments">
                <div class="comment col col-md-12" id="your-comment">
                    <div class="col col-md-11">
                        <textarea placeholder="نظر شما ..."></textarea>
                        <input type="button" class="btn btn-primary" value="ثبت نظر" id="submit-comment"/>
                    </div>
                    <div class="col col-md-1 image"
                         style="background-image: url('{% static "img/default_profile_large.jpg" %}')"></div>
                </div>
                <div class="comment col col-md-12">
                    <div class="col col-md-11">
                        <div class="name">کامران محبی</div>
                        <div class="date">۲۵ خرداد ۱۳۹۴، ۲:۱۱ عصر</div>
                        <div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                            شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                            کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا
                            با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به
                            پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای
                            موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </div>
                    </div>
                    <div class="col col-md-1 image"
                         style="background-image: url('{% static "img/ee2c94d4ce05632f957c7045f21a4333.jpeg" %}')"></div>
                </div>
            </div>
            <div class="col col-md-12" id="more-info">
                <div class="col col-md-12" id="organizer-info">
                    <a href="#"><i class="fa fa-angle-double-left" style="margin-left: 0.5em"></i>برگزار کننده این
                        رویداد</a>
                </div>
            </div>
        </div>
    </div>
    <div id="links">
        <div id="for-ticket" style="background-color: #c9302c">خرید بلیط<i class="fa fa-dollar"></i></div>
        <div id="for-comments" style="background-color: #777">نظر کاربران<i class="fa fa-comments"></i></div>
        <div id="for-more-info" style="background-color: #c9302c">اطلاعات بیشتر<i class="fa fa-info"></i></div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/cinema-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/cinema-event.css" %}"/>
    <link rel="stylesheet" href="{% static 'css/star-rating.css' %}">
{% endblock %}