{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}

    <div class="holder">
        <div id="body-container" class="col col-md-12">
            <div class="col col-md-12">
                <div class="col col-md-12" id="box-head">
                    <div id="center-head">
                        دربارهٔ بلیط‌یاب
                    </div>
                </div>
                <div class="col col-md-12">
                    <p>بلیط‌یاب نخستین و پرطرفدارترین بستر خرید و فروش بلیط در ایران است که با هدف ارائه خدمات متمایز و
                        ایجاد احساس رضایت در مشتری در تیرماه سال ۱۳۹۴ فعالیت خود را آغاز کرده است. بلیط‌یاب بستری است
                        برای ارائه بلیط‌های تمامی انواع رویدادهای تفریحی اعم از تماشای رویدادهای ورزشی، کنسرت، تورهای
                        مسافرتی، تئاتر، سینما، بازدید از باغ‌وحش‌ها و سیرک.</p>

                    <p>هدف از طراحی و پیاده‌سازی سامانه خرید بلیط رویدادهای تفریحی و سرگرمی، تجمیع و یک‌پارچه‌سازی
                        سامانه‌های پراکنده موجود می‌باشد تا در بستر این سامانه کاربران بتوانند به طور جامع از رویداد‌های
                        تفریحی-سرگرمی آگاه شده و بلیط آن‌ها را تهیه کنند. برگزارکنندگان رویدادها نیز از طریق این سامانه
                        بلیط‌های خود را به فروش می‌رسانند.</p>

                    <p>ایجاد بستر مناسب تحت وب از طریق وب‌سایت بلیط‌یاب و همچنین ارائه خدمات روی گوشی‌ها و تبلت‌ها با
                        استفاده از اپلیکیشن موبایل بلیط‌یاب این امکان را به همراهان بلیط‌یاب می‌دهد تا در اسرع وقت و به
                        ساده‌ترین شکل بتوانند به کلیه رویدادهای فعال در سایت دسترسی داشته باشند و از امکانات ارائه‌شده
                        بهره ببرند.</p>

                    <p>بسترسازی بلیط‌یاب تنها در حوزه مشتریان نبوده و جذب و نگهداری برگزارکنندگان رویدادهای تفریحی نیز
                        به رویکردی مدرن صورت می‌پذیرد. امکانات ویژه، بستر ویژه همکاری متقابل با برگزارکنندگان و ارائه
                        اطلاعات و خدمات به آنان از مواردی است که در بخش ثبت‌نام برگزارکنندگان مدنظر بلیط‌یاب بوده و به
                        آن توجه ویژه‌ای شده است. امید است با گسترش فعالیت‌های بلیط‌یاب در ایران، امکان خدمات‌رسانی به
                        همه هم‌وطنان عزیز در همه شهرها در آینده نزدیک فراهم شود.</p>

                    <h1>پیشینه</h1>

                    <p>امروزه اهمیت تفریح و سرگرمی در زندگی بشر بر کسی پوشیده نیست. از این رو هر کوشش و فعالیتی در
                        راستای ارتقای سطح کیفی و کمی دسترسی افراد به رویدادهای تفریحی و سرگرمی، حرکتی مفید و به‌جاست.
                        سازمان شهرداری در راستای ارتقای سطح ارائه خدمات تفریحی-سرگرمی درصدد ایجاد یک سامانه یکپارچه و
                        جامع برای تهیه بلیط رویدادهای تفریحی برآمده است.</p>

                    <p>به این منظور سازمان شهرداری درخواست تحلیل، طراحی و پیاده‌سازی این سامانه را به شرکت شریف‌رایان
                        داده است. اصلی‌ترین علت روی آوردن به ایجاد چنین سامانه‌ای، وجود نداشتن یک سامانه جامع و یکپارچه
                        در این زمینه است. عدم وجود چنین سامانه‌ای باعث می‌شود که افراد به راحتی نتوانند از رویدادهای
                        گوناگون تفریحی آگاه شوند و همچنین در خریدن بلیط این رویداد‌ها با مشکل مواجه می‌شوند.</p>

                    <p>همچنین وجود چنین سامانه‌ای باعث می‌شود تا بلیط رویدادهایی که تاکنون از طریق اینترنت قابل خریداری
                        نبود به راحتی در اختیار افراد قرار گیرد و به تبع آن از رفت‌و‌آمدهای غیرضروری جلوگیری شود.</p>

                    <h1>تیم طراحی و توسعه</h1>

                    <div class="col col-md-12">
                        <div class="col col-md-4 center-title">
                            <p><img width="80em" alt="عضو تیم"
                                    src="/static/img/masoud.jpg"
                                    class="img-circle"></p>

                            <h3>مسعود صدرنژاد</h3>

                            <p class="person-title">برنامه‌نویس</p>
                        </div>
                        <div class="col col-md-4 center-title">
                            <p><img width="80em" alt="عضو تیم"
                                    src="/static/img/arman.jpg"
                                    class="img-circle"></p>

                            <h3 >آرمان نعیمیان</h3>

                            <p class="person-title">برنامه‌نویس</p>
                        </div>
                        <div class="col col-md-4 center-title">
                            <p><img width="80em" alt="عضو تیم"
                                    src="/static/img/tabrizi.jpg"
                                    class="img-circle"></p>

                            <h3>مهران ترکی</h3>

                            <p class="person-title">مدیرپروژه</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/about.css" %}"/>
{% endblock %}