{% extends "basic.html" %}
{% load staticfiles %}
{% block pageLayout %}
    <header id="top-header">
        <div class="holder">
            <ul class="col col-md-8 col-xs-12">
                <li class="active"><a href="/"><i class="fa fa-home"></i>خانه</a></li>

                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <i class="fa fa-user"></i> <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown">حساب کاربری <strong
                                class="caret"></strong></a>
                        <ul class="dropdown-menu" id="drop">
                            <li>
                                {{ request.user.first_name }} {{ request.user.last_name }}
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <i class="fa fa-edit"></i><a href="/profile/{{ request.user.id }}">ویرایش حساب</a>
                            </li>
                            <li>
                                <i class="fa fa-heart"></i><a href="/profile/{{ request.user.id }}/favorites"> علاقه‌مندی‌ها</a>
                            </li>
                            <li>
                                <i class="fa fa-sign-out"></i><a href="/logout/?next={{ request.path }}">خروج</a>

                        </ul>
                    </li>

                    {% if not request.user.is_superuser %}
{#                        <li><a href="/categories"><i class="fa fa-th-list"></i>دسته ها</a></li>#}
                    {% endif %}
                {% endif %}

                {% if request.user.is_superuser %}
                    <li class="dropdown">
                        <i class="fa fa-user"></i> <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown">مدیریت <strong
                                class="caret"></strong></a>
                        <ul class="dropdown-menu" id="drop">
                            <li>
                                <i class="fa fa-users"></i><a href="/users">کاربران</a>
                            </li>
                            <li>
                                <i class="fa fa-sitemap"></i><a href="/categories">دسته ها</a>
                            </li>
                            <li>
                                <i class="fa fa-list"></i><a href="/events">رویدادها</a>
                            </li>
                            <li>
                                <i class="fa fa-list"></i><a href="/promotions">تخفیف ها</a>
                            </li>
                            <li>
                                <i class="fa fa-area-chart"></i><a href="/SalesChart">گزارش فروش ها</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if not request.user.is_superuser %}
                    <li><a href="/events"><i class="fa fa-list"></i>رویدادها</a></li>
                {% endif %}

                <li><a href="/organizers"><i class="fa fa-building"></i>برگزارکنندگان</a></li>

                {% if request.user.is_organizer and not request.user.is_superuser%}
                    <li><a href="/promotions"><i class="fa fa-smile-o"></i>تخفیف ها</a></li>
                {% endif %}


                {% if not request.user.is_authenticated %}
                    <li><a href="/about"><i class="fa fa-info-circle"></i> دربارهٔ ما</a></li>
                    <li><a href="/terms"><i class="fa fa-flag"></i> شرایط و ضوابط</a></li>
                    <li><a href="/contact"><i class="fa fa-phone"></i> تماس با ما</a></li>
                {% else %}
                     <li><a href="/ticket/{{ request.user.id }}"><i class="fa fa-ticket"></i>بلیط‌های من</a></li>
                {% endif %}

                <li><a href="/FAQ"><i class="fa fa-question-circle"></i>سوالات متداول</a></li>

            </ul>
            <div id="left-bar" class="col col-md-4 col-xs-12">
                <form style="height: 100%;" action="/search/" method="POST" id="search-form">{% csrf_token %}
                    <input type="text" id="autocomplete" name="search-string" placeholder="جستجوی رویداد ...">
                </form>
                <a href="#" id="search-btn"><i class="fa fa-search"></i></a>
            </div>
            <i class="fa fa-question-circle" id="help-link"></i>
        </div>
    </header>

    {% block pageBody %}{% endblock %}

    <div id="footer" class="col col-md-12 col-xs-12"
         style="height: 6em; background-color: #080808 ;">
        <p class="footer-text" align="center" style="margin-bottom: 12px;">
            تمامی خدمات این وبگاه، حسب مورد دارای مجوزهای لازم از مراجع مربوطه می باشند و فعالیت های این وبگاه تابع
            قوانین و مقررات جمهوری اسلامی ایران است.
        </p>

        <p class="footer-text" align="center">
            کلیه حقوق این وبگاه متعلق به شرکت رایان شریف می باشد.
        </p>

        <div align="center">
            <a href="/about" class="footer-link"><i class="fa fa-info-circle"></i> دربارهٔ ما</a>
            -
            <a href="/terms" class="footer-link"><i class="fa fa-flag"></i> شرایط و ضوابط</a>
            -
            <a href="/contact" class="footer-link"><i class="fa fa-phone"></i> تماس با ما</a>
        </div>

    </div>
    {% if not request.user.is_authenticated %}
        <div id="login-register">
            <div id="for-login" style="background-color: #c9302c"><i class="fa fa-sign-in"></i>ورود</div>
            <div id="for-register" style="background-color: #555"><i class="fa fa-user-plus"></i>ثبت نام</div>
        </div>
        <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
            <div class="cd-user-modal-container "> <!-- this is the container wrapper -->
                <ul class="cd-switcher ">
                    <li><a href="#0">ورود</a></li>
                    <li><a href="#0">ثبت نام</a></li>
                </ul>
                <div id="cd-login">
                    <p class="cd-form-message" id="recovery-message"
                       style="display: none;color: rgb(11, 68, 8);margin-bottom: 0; font-size: 0.8em">
                        رمز عبور جدید به پست الکترونیکی شما ارسال شد.
                    </p>

                    <form class="cd-form" id="signin-form" method="POST">{% csrf_token %}
                        <p class="fieldset">
                            <i class="fa fa-user"></i>
                            <label class="image-replace cd-username" for="signin-username">نام کاربری</label>
                            <input class="full-width has-padding has-border" name="signin-username" id="signin-username"
                                   type="text"
                                   placeholder="نام کاربری">
                            <span class="cd-error-message">نام کاربری را مجددا بررسی کنید.</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-key"></i>
                            <label class="image-replace cd-password" for="signin-password">رمز عبور</label>
                            <input class="full-width has-padding has-border" name="signin-password" id="signin-password"
                                   type="password"
                                   placeholder="رمز عبور">
                            <a href="#0" class="hide-password">نمایش</a>
                            <span class="cd-error-message">رمز عبور را بررسی کنید.</span>
                        </p>

                        <p class="fieldset">
                            <input type="checkbox" id="remember-me" checked>
                            <label for="remember-me">مرا به خاطر بسپار!</label>
                        </p>

                        <p class="fieldset">
                            <input class="full-width" type="submit" value="ورود">
                        </p>
                    </form>

                    <p class="cd-form-bottom-message"><a href="/">فراموشی رمز عبور</a></p>
                </div>
                <!-- cd-login -->

                <div id="cd-signup"> <!-- sign up form -->
                    <form class="cd-form" id="signup-form" action="/register/" method="POST">{% csrf_token %}
                        <p class="fieldset">
                            <i class="fa fa-user"></i>
                            <input class="signup-width-height has-padding has-border"
                                   type="text"
                                   value="نام"
                                   disabled="disabled">
                            <input class="semi-full-width has-padding has-border" id="signup-first-name"
                                   name="signup-first-name"
                                   type="text"
                                   >
                            <span class="cd-error-message">نام نامعتبر</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-user"></i>
                            <input class="signup-width-height has-padding has-border"
                                   type="text"
                                   value="نام خانوادگی"
                                    disabled="disabled">
                            <input class="semi-full-width has-padding has-border" id="signup-last-name"
                                   name="signup-last-name"
                                   type="text"
                                   >
                            <span class="cd-error-message">نام خانوادگی نامعتبر</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-calendar"></i>
                            <input class="signup-width-height has-padding has-border"
                                   type="text"
                                   disabled="disabled"
                                   value="تاریخ تولد">

                            <input class="semi-full-width has-padding has-border" id="signup-birth-date"
                                   name="signup-birth-date"
                                   type="date"
                                   value="2016-01-01"
                                   >
                            <span class="cd-error-message">تاریخ تولد نامعتبر</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-transgender"></i>
                            <input class="signup-width-height has-padding has-border"
                                   type="text"
                                   disabled="disabled"
                                   value="جنسیت">
                              <label style="margin-right: 10px;">
                                مرد
                            </label>
                            <input  id="male"
                                   name="gender"
                                   type="radio"
                                   value="مرد"
                                   checked="checked"
                                   >
                            <label style="margin-right: 10px;">
زن
                            </label>
                            <input id="female"
                                   name="gender"
                                   type="radio"
                                   value="زن"
                                   >
                            <span class="cd-error-message">جنسیت نامعتبر</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-phone"></i>
                            <input class="signup-width-height has-padding has-border"
                                   type="text"
                                   disabled="disabled"
                                   value="شماره تماس">
                            <input class="semi-full-width has-padding has-border" id="signup-phone"
                                   name="signup-phone"
                                   type="text"
                                   placeholder="مثال: 09121234567">
                            <span class="cd-error-message">شماره تماس</span>
                        </p>

                         <p class="fieldset">
                            <i class="fa fa-envelope"></i>
                            <input class="signup-width-height has-padding has-border"
                                   type="text"
                                  value="پست الکترونیکی"
                                    disabled="disabled">
                            <input class="semi-full-width has-padding has-border" id="signup-email"
                                   name="signup-email"
                                   type="email"
                                   placeholder="مثال: bilityab@gmail.com">
                            <span class="cd-error-message">پست الکترونیکی نامعتبر</span>
                        </p>

                        <p class="fieldset">
                            <i class="fa fa-user"></i>
                            <input class="signup-width-height has-padding has-border"
                                   type="text"
                                   value="نام کاربری"
                                    disabled="disabled">
                             <input class="semi-full-width has-padding has-border" id="signup-username"
                                   name="signup-username"
                                   type="text"
                                   >
                            <span class="cd-error-message">این نام کاربری قبلا گرفته شده است</span>
                        </p>


                        <p class="fieldset">
                            <i class="fa fa-key"></i>
                            <input class="signup-width-height has-padding has-border"
                                   type="text"
                                   value="رمز عبور"
                                   disabled="disabled">
                            <input class="semi-full-width has-padding has-border" id="signup-password"
                                   name="signup-password"
                                   type="password"
                                   >
                            <a href="#0" class="hide-password">نمایش</a>
                            <span class="cd-error-message">رمز عبور نامعتبر</span>
                        </p>

                        <!--<p class="fieldset">-->
                        <!--<input type="checkbox" id="accept-terms">-->
                        <!--<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>-->
                        <!--</p>-->

                        <p class="fieldset">
                            <input class="full-width has-padding" type="submit" value="ایجاد حساب کاربری">
                        </p>
                    </form>

                    <!-- <a href="#0" class="cd-close-form">Close</a> -->
                </div>
                <!-- cd-signup -->

                <div id="cd-reset-password"> <!-- reset password form -->
                    <p class="cd-form-message" style="margin-bottom: 0; font-size: 0.8em">
                        برای دریافت رمز عبور جدید، پست الکترونیکی خود را وارد کنید.
                    </p>
                    <i id="recover-message-spinner" class="fa fa-gear fa-spin"
                       style="top: 13px;right: 45%;display: none;position: relative"></i>

                    <form class="cd-form" id="recover-form" style="padding-top: 0">
                        {% csrf_token %}
                        <p class="fieldset">
                            <i class="fa fa-envelope"></i>
                            <input class="full-width has-padding has-border" name="reset-email" id="reset-email"
                                   type="email"
                                   placeholder="پست الکترونیکی">
                            <span class="cd-error-message">پست الکترونیکی نامعتبر</span>
                        </p>

                        <p class="fieldset">
                            <input class="full-width has-padding" type="submit" value="تغییر رمز عبور">
                        </p>
                    </form>

                    <p class="cd-form-bottom-message"><a href="#0">ورود به حساب کاربری</a></p>
                </div>
                <!-- cd-reset-password -->
                <a href="#0" class="cd-close-form">بستن</a>
            </div>
            <!-- cd-user-modal-container -->
        </div>
    {% endif %}
{% endblock %}