{% extends "layout.html" %}
{% load staticfiles %}
{% block pageBody %}

    <div class="holder">
        <div id="body-container" class="col col-md-12">
            <div class="col col-md-12">
                <div class="col col-md-12" id="box-head">
                    <div id="center-head">
                        شرایط و ضوابط استفاده
                    </div>
                </div>
                <div class="col col-md-12">
                    <p>کلیه کاربرانی که قصد عضویت و خریداری از سایت بلیط‌یاب را دارند، باید مفاد این توافق‌نامه را کامل مطالعه و سپس اقدام به عضویت و خرید از سایت کنند. عضویت در سایت و یا خرید از آن به منزله مطالعه و قبول شرایط خرید و عضویت و قوانین و مقررات مربوطه است.</p>

<h1>ماده ۱</h1>

<p>افراد برای عضویت در سایت و خرید از آن باید در هنگام خرید یا در حالت عادی به قسمت عضویت مراجعه کنند. در این مرحله با وارد کردن اطلاعات لازم مانند نام و نام خانوادگی، رمز عبور و آدرس پست الکترونیکی، لینک تأیید عضویت برای آنان ارسال می‌شود که کاربران با کلیک نمودن آن، مراحل عضویت را تأیید می‌کنند.</p>
<h2>تبصره ۱</h2>
<p>تنها اشخاص حقیقی حق عضویت در سایت را دارند.</p>
<h2>تبصره ۲</h2>
<p>صرف عضویت در سایت دلیل بر قبول و پذیرش مفاد موافقتنامه بوده و خلاف آن به به هیچ وجه پذیرفته نیست.</p>
<h2>تبصره ۳</h2>
<p>کاربر باید رمز عبور و نام کاربری خود را حفظ نموده و چنانچه آن را فراموش کند، می‌تواند برای ثبت نام مجدد و اخذ کلمه عبور جدید اقدام کند.</p>
<h2>تبصره ۴</h2>
<p>کاربر باید آدرس پست الکترونیک خود را به همراه سایر اطلاعات درخواستی به‌طور صحیح اعلام نموده و مسئولیت ثبت اشتباه و یا خلاف واقع بر عهده شخص کاربر است.</p>
<h2>تبصره ۵</h2>
<p>عضویت در این سایت رایگان است.</p>
<h2>تبصره ۶</h2>
<p>به دلیل آنکه در برخی از موارد احراز هویت خریدار از طریق نام و نام خانوادگی ارائه شده در سایت امکان‌پذیر است، مسئولیت هرگونه مغایرت مشخصات فوق با هویت واقعی عضو بر عهده خود افراد بوده و بلیط‌یاب هیچ‌گونه مسئولیتی نسبت به مغایرت‌های احتمالی ندارد.</p>

<h1>ماده ۲</h1>
<p>کاربر، مسئول حفظ و نگهداری تمام تلفن‌ها، سخت‌افزار کامپیوتر و سایر ابزار ضروری برای دسترسی و استفاده از این سایت و تمام هزینه‌های مرتبط به آن است و بلیط‌یاب مسئول صدمات ناشی از ابزار کاربر نمی‌باشد.</p>

<h1>ماده ۳</h1>
<p>افراد بالای ۱۸ سال تمام حقوق عضویت و انجام معامله (خرید بلیط) را در سایت بلیط‌یاب دارند.</p>
<h2>تبصره ۱</h2>
<p>عضویت برای افراد بین ۱۵ تا ۱۸ سال با اجازه ولی و یا قیم امکان‌پذیر و معتبر است. افراد زیر ۱۵سال، حق عضویت در بلیط‌یاب را ندارند.</p>
<h2>تبصره ۲</h2>
<p>رعایت حکم این ماده و صحت و سقم ارائه اطلاعات بر عهده مشتری (عضو) بوده و بلیط‌یاب هیچ‌گونه مسئولیتی در این خصوص ندارد.</p>

<h1>ماده ۴</h1>
<p>کاربر عضو، پس از عضویت و اخذ رمز و کلمه عبور، حق خرید از سایت را دارد.</p>

<h1>ماده ۵</h1>
<p>فرایند خرید از سایت توسط کاربر به این شرح است:</p>
<p>الف- بازدید از بلیط‌ها ارائه شده در سایت</p>
<p>ب- پرداخت مبلغ تعیینی (یا اعمال تخفیف) به‌صورت آنلاین به حساب بلیط‌یاب (انعقاد قرارداد)</p>
<p>ج- ارسال رسید بلیط خریداری شده در قالب ایمیل و یا به‌صورت پیامک به آدرس پست الکترونیک و یا شماره تلفن همراه کاربر جهت ارائه به برگزارکننده رویداد و دریافت بلیط از برگزارکننده رویداد به‌طور مستقیم</p>
<h2>تبصره ۱</h2>
<p>ارسال رسید بلیط بلافاصله و با انجام اولین خرید صورت می‌گیرد، به جز در مواردی که استفاده از بلیط‌یاب به صورت بالذات نیازمند حداقل افراد خریدار باشد (مانند مانند تورهای تفریحی که نیاز به رسیدن حداقل افراد جهت برگذاری تور می‌باشند) در صورت به حدنصاب نرسیدن تعداد خریداران در زمان تعیین شده در این موارد، قرارداد بین کاربر عضو و بلیط‌یاب فسخ و بلیط‌یاب وجوه واریزی را به‌صورت اعتباری برای کاربر عضو برای خریدهای آینده در حساب مجازی ویژه‌ای که برای هر عضو تعیین شده است، نگهداری می‌کند. چنانچه کاربر عضو قصد استرداد وجوه را داشته باشد، به شرط اعلام حساب خود به بلیط‌یاب، ظرف مدت حداکثر ۴۸ ساعت وجوه به حساب مشارالیه واریز می‌شود. همچنین به وجوه مذکور از زمان واریز وجه به حساب‌های نت برگ تا زمانی که وجوه در نزد نت برگ باشد، هیچگونه سودی تعلق نمی‌گیرد.</p>
<h2>تبصره ۲</h2>
<p>با ارسال رسید بلیط، کاربر عضو باید در مدت زمان تعیین شده به‌صورت حضوری (و یا در حالت خاص به‌صورتی که در هنگام فروش به اطلاع وی رسیده است) به مراجع و مراکز برگزارکننده رویداد مراجعه و از آن رسید استفاده نماید. چنانچه به هر دلیلی رویداد توسط آن مرکز برای کاربر ارسال شود، هزینه‌های مربوطه به‌طور کلی بر عهده بلیط‌یاب نیست.</p>
<h2>تبصره ۳</h2>
<p>چنانچه مراکز فروش بلیط (تأمین‌کننده) به هر نحوی از ارائه بلیط خودداری کنند، بلیط‌یاب مسئولیتی در این زمینه ندارد و مسئولیت جبران خسارت بر عهده تأمین‌کننده بلیط است.</p>
<h2>تبصره ۴</h2>
<p>بلیط‌یاب هیچگونه مسئولیتی در قبال کیفیت، کمیت و شرایط بلیط فروخته شده ندارد.</p>
<h2>تبصره ۵</h2>
<p>در صورتی که مهلت تعیین‌شده برای رویداد به اتمام رسد و مشتری در طول این مدت به مراکز مربوطه مراجعه ننماید، بلیط‌یاب مسئولیتی در قبال عدم مراجعه مشتری نداشته و وجه واریزی مسترد نمی‌شود.</p>
<h2>تبصره ۶</h2>
<p>پس از اتمام عملیات خرید، امکان انصراف از خرید به هیچ وجه برای خریدار امکان‌پذیر نمی‌باشد.</p>

<h1>ماده ۶</h1>
<p>بلیط‌یاب اطلاعات زیر را به‌منظور آگاهی کاربر در اختیار آنان قرار می‌دهد:</p>
<p>الف- مشخصات فنی و ویژگی‌های کاربردی بلیط طبق قانون.</p>
<p>ب- هویت تأمین‌کننده نام تجاری و نشانی وی که تحت عنوان آن به فعالیت مشغول است.</p>
<p>ج- تعیین کلیه هزینه‌هایی که برای خرید بلیط بر عهده مشتری است.</p>
<p>د- مدت زمان اعتبار پیشنهاد ارائه شده</p>
<p>ه- حداقل افرادی که باید پیشنهاد روز را خریداری کنند تا تعداد خریداران به حداقل افراد موردنظر برسد.</p>
<h1>ماده ۷</h1>
<p>رسیدهای بلیط‌هایی که پس از خرید برای کاربران عضو ارسال می‌شود دارای نام و مشخصات است اما کاربر عضو باید از رسید و یا کد دریافتی مراقبت نماید و چنانچه به هر دلیلی آن رسید مربوطه مفقود شود و یا شخص دیگری از آن استفاده کند، بلیط‌یاب در این زمینه هیچ مسئولیتی ندارد.</p>
<h2>تبصره ۱</h2>
<p>نام چاپ شده روی رسید، نامی است که کاربر در زمان عضویت به بلیط‌یاب ارائه داده است؛ بنابراین بلیط‌یاب در خصوص هرگونه مغایرت نام با هویت واقعی خریدار مسئولیتی ندارد و درصورت بروز هرگونه مغایرت، خریدار حق استفاده از رسید خود را نخواهد داشت.</p>
<h1>ماده ۸</h1>
<p>اختلال در سرویس اینترنت و یا هر رویدادی که باعث شود ایمیل حاوی کد خرید از بلیط‌یاب به کاربر نرسد موجب از بین رفتن حق کاربر نمی‌شود. همچنین بلیط‌یاب مسئولیتی در قبال خرابی‌ها و یا عدم سرویس‌دهی به دلیل اختلال در سرویس اینترنت و سایر زیرساخت‌های مورد نیاز ندارد.</p>
<h1>ماده ۹</h1>
<p>به منظور تعمیرات دوره‌ای این سایت به‌طور موقت غیرقابل دسترس می‌شود و کاربران حق اعتراض ندارند.</p>
<h2>تبصره ۱</h2>
<p>بلیط‌یاب این حق را داشته که در هر زمان کلیه فعالیت‌های سایت را متوقف نموده و با پرداخت باقی مانده حساب اعضا کلیه فرآیندهای سایت و فعالیت‌های مربوطه را به‌طور دائمی متوقف نماید و کاربر عضو حق هیچگونه اعتراضی نسبت به این امر را ندارد.
<h1>ماده ۱۰</h1>
<p>تولید غیرقانونی- فروش و یا تجارت رسید بلیط که توسط بلیط‌یاب ارسال شده ممنوع است و طبق مقررات قانونی با اقدام‌کننده آن برخورد می‌شود.</p>
<h1>ماده ۱۱</h1>
<p>چنانچه حسب مورد به جای ایمیل از طریق پیام کوتاه و یا سند کاغذی استفاده شود در این صورت اسناد کاغذی و یا پیام کوتاه به جای پست الکترونیک اثری بر حقوق و تعهدات کاربر عضو ندارد.</p>
<h1>ماده ۱۲</h1>
<p>بلیط‌یاب از کلیه اطلاعات کاربران عضو اعم از اطلاعات دریافتی و ارسالی، (Backup) تهیه نموده و از آن نگهداری می‌کند تا در صورت بروز هرگونه خطری برای یک نسخه، نسخه دیگر مصون بماند.</p>
<h1>ماده ۱۳</h1>
<p>کاربر نباید در سایت اظهاراتی (Comment) را بگذارد و یا اقدامی نماید که مبین نقض حقوق اشخاص دیگر باشد و یا عمل مجرمانه‌ای را به دنبال داشته باشد. همچنین کاربران نباید در خصوص امور مذهبی و سیاسی در این سایت اظهار نظر کنند. چنانچه هر یک از کاربران این ماده را رعایت نکنند، بلافاصله از سایت اخراج شده و چنانچه خریدی انجام داده باشند، وجه واریزی به آنان مسترد نمی‌شود. همچنین کاربر (عضو) حق استفاده از این سایت را برای هرگونه عمل تجاری از دست می‌دهد.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "js/sport-event.js" %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/about.css" %}"/>
{% endblock %}